Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Commit downsampled rollout data so the figures render on CI
  scripts/export_rollout_plots_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/provenance.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_actions_data.parquet
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_actions_ma_data.parquet
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_equity_data.parquet
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_plot_meta.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_rewards_data.parquet
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Commit downsampled rollout data so the figures render on CI (#658)
  scripts/export_rollout_plots_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/provenance.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_actions_data.parquet
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_actions_ma_data.parquet
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_equity_data.parquet
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_plot_meta.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluation_plots/test/2026-08-31T22:33:35_rewards_data.parquet
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Stop the rollout figures printing their title twice, and fix Fig. 3's scale
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Stop the rollout figures printing their title twice, and fix Fig. 3's scale (#659)
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Correct the Sharpe ordering in the algorithm-comparison discussion
  thesis/qmd/src/06-00-results.qmd
Due: none

State the position-level execution abstraction in the assumptions
  thesis/qmd/src/05-00-implementation.qmd
Due: none

Note that the simulation's omissions all bias in the agent's favour
  thesis/qmd/src/05-00-implementation.qmd
Due: none

State the three-million-step budget for the algorithm comparison
  thesis/qmd/src/06-00-results.qmd
Due: none

State the robustness arms' 500k-step budget and why it differs from H1
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Interpret why the imbalance features carry signal, as endogenous price formation
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Chore: re-render thesis PDF for the re-applied framing edits
  thesis/qmd/src/masters_thesis.pdf
Due: none

Re-apply thesis framing edits: execution abstraction, training budgets, signal interpretation (#660)
  thesis/qmd/src/05-00-implementation.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add shared latency helpers and an action-rate throttle
  src/trading_rl/envs/latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Apply execution latency in the evaluation path, not only in training
  src/trading_rl/config.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test the latency shift, the obs+exec sum, and the action throttle
  tests/test_latency.py
Due: pytest

Apply execution latency in the evaluation path; add action-rate throttling (#661)
  src/trading_rl/config.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/latency.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Shorten the rollout figure captions and move provenance to a Note
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Shorten the rollout figure captions and move provenance to a Note (#662)
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Fix two defects in resolving a microsecond latency to a row offset
  src/trading_rl/envs/latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add an event-offset latency ladder alongside the microsecond one
  src/configs/experiment_sets/debug.yaml
  src/configs/experiment_sets/full.yaml
  src/configs/h5_event_offset.yaml
  src/configs/scenarios/pooled/td3_h5_events_k1_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k1_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k1_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h5_events_k2_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k2_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k2_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h5_events_k4_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k4_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k4_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h5_events_k8_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k8_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k8_dsr/train.yaml
  src/masters_thesis/experiments.py
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix latency resolution: the book persists between updates; add an event-offset ladder (#663)
  src/configs/experiment_sets/debug.yaml
  src/configs/experiment_sets/full.yaml
  src/configs/h5_event_offset.yaml
  src/configs/scenarios/pooled/td3_h5_events_k1_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k1_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k1_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h5_events_k2_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k2_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k2_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h5_events_k4_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k4_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k4_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h5_events_k8_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_h5_events_k8_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_h5_events_k8_dsr/train.yaml
  src/masters_thesis/experiments.py
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Make the microsecond-to-row resolution monotone in latency
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Render Table 9, and match Fig. 4 and Fig. 5 to Fig. 3's scale
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Render Table 9, and match Fig. 4 and Fig. 5 to Fig. 3's scale (#664)
  src/trading_rl/envs/latency.py
  tests/test_latency.py
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Point the conclusion's feature-set claim at Section 6.3, not 6.2
  thesis/qmd/src/07-05-conclusion.qmd
Due: none

Point the Hypothesis 4 verdict at its evidence section
  thesis/qmd/src/07-01-summary-of-findings.qmd
Due: none

Fix two cross-references in the conclusions (#665)
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-05-conclusion.qmd
Due: none

Remove the benchmark comparison table, which restated the prose and got it wrong
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Remove the benchmark comparison table, which restated the prose and got it wrong (#666)
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Drop the Sortino column: it is estimated from one or two observations
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_mlflow_results.py
  thesis/qmd/src/thesis_tables.py
Due: none

Name the method deep reinforcement learning in the title
  thesis/qmd/src/masters-thesis.qmd
Due: none

Chore: re-render thesis PDF for the Sortino removal and title change
  thesis/qmd/src/masters_thesis.pdf
Due: none

Drop the unstable Sortino column; name the method deep RL in the title (#667)
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/thesis_mlflow_results.py
  thesis/qmd/src/thesis_tables.py
Due: none

Add shared results.json split resolution for the report scripts
  scripts/_results_io.py
Due: none

Fix: sensitivity report showed one symbol's metrics as the scenario result
  scripts/sensitivity_report.py
Due: none
