Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Fix table styling inconsistencies: Timestamp naming and header bolding
  thesis/qmd/src/03-02-actor-critic-methods.qmd
  thesis/qmd/src/thesis_tables.py
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: replace O(buffer) max_length scan with O(1) running max
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/training_loop.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add doc explaining the max_length/step_count training metric
  docs/max_step_count_metric.md
Due: none

Migrate existing chat logs into docs/chat/ on the chats branch
  docs/chat/chat-2026-08-19.md
  docs/chat/chat-2026-08-20.md
Due: none

Update chat log for 2026-08-20
  docs/chat/chat-2026-08-20.md
Due: none

Fix #356 warm-up gate, close #355's remaining asks
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/checkpointing.py
  src/trading_rl/trainers/training_loop.py
  tests/test_base_trainer_training_loop.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix trainer checkpoint tests for _replay_buffer_max_step_count
  tests/test_trainer_checkpoints.py
Due: pytest

Add MCP server exposing CLI commands as agent-callable tools
  pyproject.toml
  src/mcp_server/__init__.py
  src/mcp_server/jobs.py
  src/mcp_server/server.py
  src/mcp_server/support.py
  uv.lock
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add docs: MCP server workflow
  README.md
  docs/mcp_server.md
Due: none

Refactor: split EvaluateCommand._run into _resolve_splits and _evaluate_one_split
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Zero-pad hours in prepare-data progress bar (HH:MM:SS)
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add chat log for 2026-08-21
  docs/chat/chat-2026-08-21.md
Due: none

Fix: pass raise_if_broke=False to net_liquidation_value() in bankruptcy detection
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: eval symbol index drawn with wrong modulus in fresh-build path
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: align and NaN-filter returns before benchmark statistical tests
  src/trading_rl/evaluation/statistical_tests.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: pass explicit initial_position to gym_trading_env constructors
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/trading_envs.py
  tests/test_env_builder.py
  tests/test_trading_envs.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: abort training on N consecutive skipped batches regardless of earlier successes
  src/trading_rl/trainers/base.py
  tests/test_ddpg_skipped_batches.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: validate reward_type via RewardRegistry in builder anytrading path
  src/trading_rl/envs/builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: raise on latency config for gym_trading streaming backends
  src/trading_rl/envs/builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: n_trades uses axis=0 diffs for 2D action arrays
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: prefer index-derived periods_per_year in StrategyEvaluator metrics
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix rolling normalization session resets
  src/trading_rl/features/base.py
  tests/test_session_aware_normalization.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add literature-verifier skill
  .claude/skills/literature-verifier/SKILL.md
  .dsh/skills/literature-verifier/SKILL.md
Due: none

Add WNE UW thesis formal requirements (Appendix B), parsed and translated
  docs/masters_thesis/Zalacznik_B_do_Uchwaly.pdf
  docs/masters_thesis/formal_requirements_en.md
  docs/masters_thesis/formal_requirements_pl.md
Due: none

Fix: _save_training_plots no-op stub now actually writes plots to disk
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: seed checkpoint cadence anchor from restored total_count on resume
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: track real optimization step for resumed MLflow step axis
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/checkpointing.py
  src/trading_rl/trainers/training_loop.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: raise on non-finite log returns instead of silently zeroing them
  src/trading_rl/features/price_features.py
  tests/test_price_features_exact.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: keep_first=False actually drops the first LOB row
  src/trading_rl/data/lob_filters.py
  tests/test_lob_filters.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: latch invalid-valuation penalty to first step of a streak
  src/trading_rl/rewards/__init__.py
  tests/test_reward_function_invalid_valuation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: quantize init_rand_steps to a frames_per_batch boundary
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/warmup.py
  tests/test_offpolicy_trainer_wiring.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix literature citation accuracy issues (literature verification pass)
  thesis/bibliography/library.bib
  thesis/qmd/src/02-02-market-microstructure-mechanisms.qmd
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Add thesis-format-auditor skill
  .claude/skills/thesis-format-auditor/SKILL.md
  .dsh/skills/thesis-format-auditor/SKILL.md
Due: none

Ignore .tmp_export/ scratch directory
  .gitignore
Due: none

Fix: rebase on latest master before auto-committing rendered PDF
  .github/workflows/publish.yml
Due: none
