Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Trim split-sizes table timestamps to whole-second precision (#569)
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Refresh pooled result snapshots: add source-split provenance
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
Due: none

Tighten H3/H4 and performance-evaluation intros
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Refresh pooled result snapshots + tighten H3/H4/perf-eval intros (#570)
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Offer --max-train-seconds on every hypothesis command, not just h1
  src/masters_thesis/experiments.py
  tests/test_h4_experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

experiment-auditor: persist each run's findings to a repo audit log
  .claude/agents/experiment-auditor.md
  .dsh/skills/experiment-auditor/SKILL.md
  docs/masters_thesis/experiment-audits/2026-08-31-h1-win-rate.md
Due: none

experiment-auditor: persist each run's findings to a repo audit log (#572)
  .claude/agents/experiment-auditor.md
  .dsh/skills/experiment-auditor/SKILL.md
  docs/masters_thesis/experiment-audits/2026-08-31-h1-win-rate.md
Due: none

h1: align the four scenarios and unbound train_size
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

h1: drop stale result snapshots so invalid numbers are not published
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
Due: none

metrics: hit rate / drawdown on raw returns; label the ratio scale; threshold trades
  src/trading_rl/evaluation/metrics.py
  tests/test_build_metric_report_edge_cases.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

metrics: hit rate / drawdown on raw returns; label the ratio scale; threshold trades (#574)
  src/trading_rl/evaluation/metrics.py
  tests/test_build_metric_report_edge_cases.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

export_eval_to_thesis: stale-results guard + honest run.json provenance
  scripts/export_eval_to_thesis.py
  tests/test_export_eval_to_thesis.py
Due: pytest

export_eval_to_thesis: stale-results guard + honest run.json provenance (#575)
  scripts/export_eval_to_thesis.py
  tests/test_export_eval_to_thesis.py
Due: pytest

Point 07-02 Execution Realism at the frictionless-mechanism audit; add audit README
  docs/masters_thesis/experiment-audits/2026-08-31-h1-followup-frictionless-mechanism.md
  docs/masters_thesis/experiment-audits/README.md
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Point 07-02 Execution Realism at the frictionless-mechanism audit; add audit README (#576)
  docs/masters_thesis/experiment-audits/2026-08-31-h1-followup-frictionless-mechanism.md
  docs/masters_thesis/experiment-audits/README.md
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Add quant-bias-auditor agent: look-ahead bias, leakage, survivorship, data snooping
  .claude/agents/quant-bias-auditor.md
  .dsh/skills/quant-bias-auditor/SKILL.md
Due: none

Add quant-bias-auditor agent: look-ahead bias, leakage, survivorship, data snooping (#577)
  .claude/agents/quant-bias-auditor.md
  .dsh/skills/quant-bias-auditor/SKILL.md
Due: none

Add quant-bias-auditor h1 leakage and bias sweep
  docs/masters_thesis/experiment-audits/2026-08-31-h1-leakage-and-bias-sweep.md
  docs/masters_thesis/experiment-audits/README.md
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Add quant-bias-auditor h1 leakage and bias sweep (#578)
  docs/masters_thesis/experiment-audits/2026-08-31-h1-leakage-and-bias-sweep.md
  docs/masters_thesis/experiment-audits/README.md
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Add regression + trainer-correctness tests (test-coverage-check P1)
  tests/test_metrics_raw_vs_bar_regression.py
  tests/test_trainer_learns_and_reward_sign.py
Due: pytest

Add regression + trainer-correctness tests (test-coverage-check P1) (#579)
  tests/test_metrics_raw_vs_bar_regression.py
  tests/test_trainer_learns_and_reward_sign.py
Due: pytest

Close h1 audit findings #9, #17, #18 (code hygiene)
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/masters_thesis/experiments.py
  src/trading_rl/config.py
  src/trading_rl/config_guardrails_checks.py
  tests/test_config_guardrails_frictionless_and_none.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Close h1 audit findings #9, #17, #18 (code hygiene) (#580)
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/masters_thesis/experiments.py
  src/trading_rl/config.py
  src/trading_rl/config_guardrails_checks.py
  tests/test_config_guardrails_frictionless_and_none.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reword Hypothesis 1 as an explicitly cost-bounded claim
  .claude/commands/h1-review.md
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Add the signal-friction decomposition to Chapter 4
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/05-00-implementation.qmd
Due: none

Reframe the Chapter 6 H1 verdicts and make the H1<->H3 bridge explicit
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Reframe the Chapter 7 conclusions and the abstract
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-05-conclusion.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Correct the feature-normalization prose in Chapter 5.1
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Reframe Hypothesis 1 as a cost-bounded signal finding (#581)
  .claude/commands/h1-review.md
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/05-00-implementation.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-05-conclusion.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Finish audit finding #17: config layer accepts train_size: null
  .gitignore
  src/cli/services/config_validation_service.py
  src/trading_rl/callbacks/artifacts_config.py
  src/trading_rl/config.py
  tests/cli/test_config_validation_service.py
  tests/test_artifacts_config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Finish audit finding #17: config layer accepts train_size: null (#582)
  .gitignore
  src/cli/services/config_validation_service.py
  src/trading_rl/callbacks/artifacts_config.py
  src/trading_rl/config.py
  tests/cli/test_config_validation_service.py
  tests/test_artifacts_config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix Publish Thesis render: guard show_table_meta / show_plot against a null snapshot
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix Publish Thesis render: guard show_table_meta / show_plot against a null snapshot (#583)
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Trainers: shared off-policy optimization skeleton + TrainerCallback protocol
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/recurrent_ppo.py
  src/trading_rl/trainers/sac.py
  src/trading_rl/trainers/td3.py
  tests/test_offpolicy_optimization_skeleton.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Trainers: shared off-policy optimization skeleton + TrainerCallback protocol (#584)
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/recurrent_ppo.py
  src/trading_rl/trainers/sac.py
  src/trading_rl/trainers/td3.py
  tests/test_offpolicy_optimization_skeleton.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Renumber hypothesis runner wiring: H2 cost, H3 features, H4 reward
  scripts/export_all_to_thesis.py
  scripts/h3_feature_sensitivity_report.py
  scripts/h4_learning_progression_report.py
  scripts/sensitivity_report.py
  src/configs/experiment_sets/debug.yaml
  src/configs/experiment_sets/full.yaml
  src/configs/h2_transaction_cost.yaml
  src/configs/h3_feature_sensitivity.yaml
  src/configs/h3_sensitivity.yaml
  src/configs/h4_reward_design.yaml
  src/masters_thesis/experiments.py
  tests/test_experiment_runner.py
  tests/test_h4_experiment_runner.py
  tests/test_hft_metric_reporting.py
  tests/test_report_metric_direction.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Thesis: renumber hypotheses to H1 signal / H2 cost / H3 features / H4 reward
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/h4_learning_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/manifest.json
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/tablealign.lua
  thesis/qmd/src/thesis_mlflow_results.py
Due: none
