Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Add multitail/tail -f watch hint to parallel mode in run_h{1,2,3} scripts
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Add caption note for dashed mean-position line in Portfolio Allocation plot
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add Omega ratio metric; fix NaN JSON; add eval_results/ plot fallback
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/metrics.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix random_hft_lob_state_space_pooled_streaming_selected_dsr scenario
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/observation.yaml
  src/trading_rl/trainers/random_trainer.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add thesis data pipeline: export_eval_to_thesis.py and static plot supplement
  scripts/export_eval_to_thesis.py
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Wire scenario-specific live plot lookup for QMD renders
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Add NO_COLOR=1 to background jobs so multitail reads clean log files
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Add --skip-eval flag to run_h{1,2,3}_experiments.sh
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Add --verbose / -v flag to run_h{1,2,3}_experiments.sh
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Fix MetricReport: add __contains__ and __getitem__ for dict-like read access
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Introduce MetricReport dataclass, replace dict[str, float] throughout
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/benchmark_table.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/report.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add export_all_to_thesis.py: batch export all hypothesis scenarios
  scripts/export_all_to_thesis.py
Due: none

Wire H1/H2/H3 results tables into thesis QMD chapters
  .claude/settings.json
  scripts/export_eval_to_thesis.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-01-statistical-validation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix log format: total_elapsed=%.2fs -> total_elapsed_s=%.2f
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Standardize temp eval: full MetricReport metrics + aligned artifact paths
  tests/test_build_metric_report_edge_cases.py
  tests/test_evaluation_metrics.py
  tests/test_price_column_config_compat.py
Due: pytest

Add optional rollout data artifact logging for eval and temp eval
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/config.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Move eval_log_data to training config alongside other eval settings
  src/trading_rl/config.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add --purge flag to experiments command for permanent SQLite deletion
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Introduce EvaluationConfig; move eval_steps/eval_fraction/log_data there
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/config.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
  tests/test_generated_data_experiments_smoke.py
  tests/test_streaming_evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Wire evaluation: section into ExperimentConfig.from_dict and fix test config dicts
  src/trading_rl/config.py
  tests/test_learning_health_smoke.py
  tests/test_pipeline_smoke.py
  tests/test_streaming_evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Move temp eval artifacts under evaluation_plots_temp/ and evaluation_data_temp/
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add ArtifactPaths registry and replace all bare artifact path strings
  src/cli/commands/evaluate_command.py
  src/trading_rl/callbacks/__init__.py
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Make ArtifactPaths builders reference class constants via classmethods
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add EXTRA_EVAL_ARGS env var to run_h{1,2,3}_experiments.sh
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Fix EXTRA_TRAIN/EVAL_ARGS to support multiple space-separated overrides
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

docs: document standalone evaluate command, run scripts, thesis export, and experiments --purge
  docs/experiment_workflow.md
  docs/overview.md
Due: none

Fix: MetricReport not JSON serializable in evaluate_command results.json
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add thesis_artifact_bridge.md: document evaluate→snapshot→QMD pipeline
  docs/experiment_workflow.md
  docs/thesis_artifact_bridge.md
Due: none

Add Mermaid pipeline diagram to thesis_artifact_bridge.md
  docs/thesis_artifact_bridge.md
Due: none

Add backward-compat state dict migration for old PPO DiscreteNet checkpoints
  src/trading_rl/evaluation/policy_loader.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix PolicyLoader: detect continuous vs discrete PPO from state dict keys
  src/trading_rl/evaluation/policy_loader.py
  tests/test_policy_loader_and_wrappers.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Skip checkpoint for RANDOM algorithm in evaluate command
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix UnboundLocalError: initialise checkpoint_path=None, meta={} for RANDOM
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Switch export scripts to project logger for colored output
  scripts/export_all_to_thesis.py
  scripts/export_eval_to_thesis.py
Due: none

Add debug_plots mode: stamp build metadata on evaluation plots
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/config.py
  src/trading_rl/evaluation/thesis_theme.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Document debug_plots usage in run_h{1,2,3} scripts
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Fix _load_benchmark_table to handle per-symbol benchmark files
  .claude/settings.json
  scripts/export_eval_to_thesis.py
  thesis/qmd/.gitignore
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/params.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/masters_thesis.pdf
Due: none

Thesis theme: caption 15% smaller and black
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

H1 table: reorder columns and add Lose Rate, % Long, % Short
  thesis/qmd/src/06-00-results.qmd
Due: none
