Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

fixed the diagram
  docs/ppo_overview.md
Due: none

fixed portfolio value
  docs/ppo_overview.md
  src/trading_rl/plotting.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

a lot of changes in the code
  README.md
  scripts/minimal_trading_test.py
  scripts/torchrl_trading_example.py
  src/cli.py
  src/configs/default.yaml
  src/configs/mean_reversion.yaml
  src/configs/sine_wave.yaml
  src/configs/upward_drift.yaml
  src/configs/upward_drift_ppo.yaml
  src/data_generator.py
  src/trading_rl/README.md
  src/trading_rl/config.py
  src/trading_rl/plotting.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/train_trading_agent_test.py
  src/trading_rl/training.py
  src/trading_rl/utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

added legned to plots
  src/configs/sine_wave_ppo.yaml
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

looks like this is a good version
  src/cli.py
  src/configs/sine_wave_ppo.yaml
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fixed cli
  src/cli.py
  src/data_generator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

refactored cli
  pytest.ini
  src/cli.py
  src/cli/__init__.py
  src/cli/commands/__init__.py
  src/cli/commands/base_command.py
  src/cli/commands/dashboard_command.py
  src/cli/commands/data_generator_command.py
  src/cli/commands/experiment_command.py
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

added script + changes in config
  scripts/check_yaml_data_consistency.py
  src/cli.py
  src/cli/commands/experiment_command.py
  src/configs/mean_reversion.yaml
  src/configs/sine_wave.yaml
  src/configs/sine_wave_ppo_no_trend.yaml
  src/configs/sine_wave_ppo_trend.yaml
  src/configs/upward_trend_ddpg.yaml
  src/configs/upward_trend_ppo.yaml
  src/configs/white_noise_no_trend_ppo.yaml
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

added script
  docs/ddpg_data_flow.md
  docs/experiment_workflow.md
  docs/ppo_overview.md
  scripts/run_all_scenarios.sh
  src/configs/mean_reversion.yaml
  src/configs/sine_wave.yaml
  src/configs/upward_trend_ddpg.yaml
Due: none

fixed scenarios
  scripts/run_all_scenarios.sh
  src/configs/upward_trend_ppo.yaml
Due: none

addded testing to the readme
  README.md
  pyproject.toml
  pytest.ini
Due: none

smaller examples
  README.md
Due: none

added pytest for docs
  README.md
  pyproject.toml
  src/logger/README.md
  src/logger/__init__.py
  src/trading_rl/README.md
  src/trading_rl/train_trading_agent.py
  src/trading_rl/train_trading_agent_example.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

changes to README
  README.md
  pyproject.toml
Due: none

changes to README
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/cli.py
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fixes to README
  README.md
  scripts/test2.py
  src/trading_rl/config.py
  src/trading_rl/data_utils.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fixes to readme pt 2
  README.md
  src/cli.py
  src/cli/commands/dashboard_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fixes to readme pt 3
  README.md
Due: none

added tests
  README.md
  docs/ddpg_overview.md
  tests/__init__.py
  tests/test_action_probabilities_plot.py
Due: pytest

More docs added
  docs/ddpg_implementation_overview.md
  docs/experiment_workflow.md
  docs/ppo_implementation_overview.md
  docs/td3_implementation_overview.md
  scripts/check_yaml_data_consistency.py
  src/data_generator.py
  src/trading_rl/__init__.py
  src/trading_rl/config.py
  src/trading_rl/data_utils.py
  src/trading_rl/models.py
  src/trading_rl/plotting.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

td3 added
  docs/comparison.md
  src/configs/sine_wave_td3_no_trend.yaml
  src/trading_rl/models.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

still not fully fixed td3 implemetnation
  src/trading_rl/config.py
  src/trading_rl/models.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

still not fully fixed td3 implemetnation v2
  src/trading_rl/train_trading_agent.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

looks like a kind of woreking version
  docs/experiment_workflow.md
  docs/td3_implementation_overview.md
  src/trading_rl/models.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fixed mutliple things
  src/trading_rl/plotting.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
