Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Add unit tests for LOB feature compute() logic
  tests/test_lob_features.py
Due: pytest

Add PDF render step to CI workflow
  .github/workflows/publish.yml
Due: none

Track thesis result snapshots in git for CI rendering
  .gitignore
  thesis/qmd/results/TRADINGENV_TD3_AAPL_HFT_STATE_SPACE/manifest.json
  thesis/qmd/results/TRADINGENV_TD3_AAPL_HFT_STATE_SPACE/runs_overview.json
  thesis/qmd/results/TRADINGENV_TD3_AAPL_HFT_STATE_SPACE/runs_overview.parquet
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/evaluation_report.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/latest_metrics.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/params.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/plots/actual_returns.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/plots/merged_comparison.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/plots/positions.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/plots/rewards.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_finished/run.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/latest_metrics.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/params.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/plots/actual_returns.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/plots/merged_comparison.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/plots/positions.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/plots/rewards.png
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/latest_running/run.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/manifest.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/runs_overview.json
  thesis/qmd/results/btc_td3_tradingenv_reduced_features/runs_overview.parquet
Due: none

Introduce Severity, ExplainabilityMethod, StatisticalTest, DataFormat, MBOAction, MBOSide enums
  src/cli/services/config_validation_service.py
  src/order_book.py
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/data_fetchers/base.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Show UTC render time in thesis published date
  thesis/qmd/src/masters-thesis.qmd
Due: none

Validate DATABENTO_API_KEY early and anchor data path to script location
  src/order_book.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fail fast with actionable message when weles sibling repo is missing
  src/trading_rl/data_fetchers/stock_fetcher.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove dead StockDataFetcher code
  src/trading_rl/data_fetchers/__init__.py
  src/trading_rl/data_fetchers/stock_fetcher.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Centralise synthetic start date into DEFAULT_SYNTHETIC_START_DATE constant
  src/data_generator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Delete legacy create_features() — replaced by FeaturePipeline
  src/trading_rl/__init__.py
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove all references to deleted create_features() from docs and code
  src/trading_rl/README.md
  src/trading_rl/features/pipeline.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix smoke test monkeypatches after pipeline extraction
  tests/test_pipeline_smoke.py
Due: pytest

Refactor trainer runtime hooks and checkpointing
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/checkpointing.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor experiment entrypoint orchestration
  src/trading_rl/pipeline/__init__.py
  src/trading_rl/pipeline/experiment_runner.py
  src/trading_rl/pipeline/finalization.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor statistical testing modules
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/evaluation/statistical_test_registry.py
  src/trading_rl/evaluation/statistical_tests.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor LOB feature modules
  src/trading_rl/features/lob_book_features.py
  src/trading_rl/features/lob_common.py
  src/trading_rl/features/lob_features.py
  src/trading_rl/features/lob_flow_features.py
  src/trading_rl/features/lob_trade_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove private TradingEnv returns alias
  src/trading_rl/evaluation/report.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/td3.py
  src/trading_rl/utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix CI PDF rendering job that hangs on GitHub Actions
  .github/workflows/publish.yml
  thesis/qmd/src/masters-thesis.qmd
Due: none

Break down long sentences in introduction chapter
  thesis/qmd/src/01-00-00-introduction.qmd
Due: none

Break down long sentences in RL key concepts chapter
  thesis/qmd/src/02-03-03-01-key-concepts.qmd
Due: none

Add debugging and error handling to CI PDF rendering
  .github/workflows/publish.yml
Due: none

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
