Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Increase plot DPI from 150 to 225 (50% higher resolution)
  src/cli/commands/evaluate_command.py
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/evaluation/benchmark_table.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix checkpoint auto-discovery: match any run-name prefix not experiment name
  src/cli/commands/evaluate_command.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix run_h3_experiments.sh: replace declare -A with bash 3 compatible dedup
  scripts/run_h3_experiments.sh
Due: none

Thesis theme: reduce caption font by another 15% (now 0.72× base_size)
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Restore declare -A in run_h3_experiments.sh (bash 5.3 available)
  scripts/run_h3_experiments.sh
Due: none

Revert "Restore declare -A in run_h3_experiments.sh (bash 5.3 available)"
  scripts/run_h3_experiments.sh
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/src/masters_thesis.pdf
Due: none

Thesis theme: caption 10% smaller font, 30% more line spacing
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove redundant overlay titles from rewards/positions plots; rename section
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Move Benchmark Strategies under Algorithm Comparison Results
  thesis/qmd/src/06-00-results.qmd
Due: none

Fix missing portfolio value plot in evaluate command and thesis export
  scripts/export_eval_to_thesis.py
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Make evaluation plots configurable via evaluation.eval_plots
  src/cli/commands/evaluate_command.py
  src/trading_rl/config.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Respect eval_plots in training/temp-eval path (base.py)
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Disable file logging by default (logging.log_to_file = False)
  src/trading_rl/config.py
  src/trading_rl/pipeline/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Write results.json to log_dir at end of training
  src/trading_rl/pipeline/experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Tighten caption line spacing by 10% (1.56 → 1.40)
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Pass actual training step/episode count into evaluation plot captions
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove fixed seed from H1 experiment configs
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
Due: none

Compress compute scale subsection to a single statement
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Compress GOOG/GOOGL pair trading digression to one sentence
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Add TWAP and VWAP benchmark lines to portfolio value plot
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/thesis_theme.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Enable TWAP and VWAP benchmarks in all H1 scenario configs
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Fix VWAP volume source to use T-event trade sizes in MBP-10 LOB data
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/evaluation/statistical_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Supplement live MLflow snapshot with static export for missing artifacts
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Add Short-and-Hold benchmark; make Buy-and-Hold optional; all benchmarks explicit in H1 configs
  src/cli/commands/evaluate_command.py
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/thesis_theme.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Replace show_* boolean flags with benchmarks: frozenset[BenchmarkName]
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
  tests/test_actual_returns_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Write H1 algorithm comparison narrative from real evaluation data
  thesis/qmd/src/06-00-results.qmd
Due: none

Rename create_actual_returns_plot -> create_equity_curve_plot
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/runtime_hooks.py
  src/trading_rl/utils.py
  tests/test_actual_returns_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Write benchmark comparison discussion in performance evaluation section
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Fix: truncate ragged random-baseline trials before np.mean
  src/trading_rl/evaluation/statistical_tests.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: disable feature cache for RUNNING norm with reset_on_session_break=False
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add MetricName enum and MetricsConfig with HFT-appropriate defaults
  src/cli/commands/evaluate_command.py
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: include train_size in feature cache key for GLOBAL normalization
  src/trading_rl/data/cache.py
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add streaming env reset tests
  tests/test_streaming_env.py
Due: pytest

Add conditional feature selection regression test
  tests/test_enhanced_feature_selector.py
Due: pytest

Include robustness results in thesis
  thesis/qmd/src/masters-thesis.qmd
Due: none

Consolidate duplicate appendix hyperparameter tables into one spec table
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Use residual IC in feature selection
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Clarify H1 algorithm result interpretation
  thesis/qmd/src/06-00-results.qmd
Due: none

Qualify statistical validation evidence
  thesis/qmd/src/06-01-statistical-validation.qmd
Due: none

Fix: seed eval symbol selection RNG from config.seed for reproducibility
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
