Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Fix: decouple backend resolution policy
  src/trading_rl/envs/builder.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: extract WarmupController and TrainingLoop from BaseTrainer
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/training_loop.py
  src/trading_rl/trainers/warmup.py
  tests/test_offpolicy_trainer_wiring.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: return evaluation result explicitly
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/runtime_hooks.py
  tests/test_trainer_evaluation_paths.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: narrow setup_mlflow_experiment to explicit params; fix contextlib import
  src/trading_rl/pipeline/checkpoint.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: extract evaluation display service
  src/cli/commands/evaluate_command.py
  src/cli/services/evaluation_display_service.py
  tests/cli/test_evaluation_display_service.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: move pipeline scaler restore logic into FeaturePipeline.load_state()
  src/trading_rl/data/loading.py
  src/trading_rl/features/pipeline.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: remove dead setLevel call left over from loguru migration
  src/trading_rl/data_fetchers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: make Databento end_date inclusive in StockDataFetcher
  src/trading_rl/data_fetchers/stock_fetcher.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: pause the training spinner during guardrail WARN prompts
  src/cli/commands/training_command.py
  src/trading_rl/config_guardrails_runner.py
  src/trading_rl/pipeline/experiment_runner.py
  tests/test_experiment_runner_branches.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test: cover progress_bar stop/start around guardrail WARN prompt
  tests/test_config_guardrails_runner.py
Due: pytest

Fix: use underscore thousands separator in guardrail messages
  src/trading_rl/config_guardrails_checks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: correct reward_scale=10000 misconfiguration in log_return scenarios
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: LOG_RETURN episode portfolio_valuation ignored reward_scale
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/config.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/episode_stats.py
  tests/test_base_trainer_episode_stats.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DDPG exploration_noise_std hardcoded to 0.2, config value ignored
  src/trading_rl/trainers/ddpg.py
  tests/test_offpolicy_trainer_wiring.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove tracked reports/ directory from version control
  .gitignore
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/correlations.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/feature_stats.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/feature_stats.csv.meta.json
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/log_return_stats.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/log_return_stats.csv.meta.json
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/raw_file_inventory.json
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/raw_file_inventory.json.meta.json
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/splits.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/splits.json
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/splits.json.meta.json
Due: none

Fix 88 Dependabot vulnerabilities by upgrading uv.lock dependencies
  uv.lock
Due: none

Fix: benchmark alpha/tracking_error/info_ratio annualized with stale periods_per_year
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Untrack memory/ directory and add to .gitignore
  .gitignore
  memory/MEMORY.md
Due: none

Untrack .pdb-pyhist and add to .gitignore
  .gitignore
  .pdb-pyhist
Due: none

Fix: default pipeline leaves feature_trend unscaled after normalization refactor
  src/trading_rl/features/pipeline.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add poe tasks for thesis rendering setup (Quarto, fonts) and markdown dep
  README.md
  pyproject.toml
  scripts/install_thesis_fonts.py
  uv.lock
Due: none

Document poe setup troubleshooting for Quarto phantom-install and fonts
  README.md
Due: none

Fix: use ipykernel's default python3 kernel instead of unregistered masters_thesis
  thesis/qmd/src/masters-thesis.qmd
Due: none

Split episode log date_range=[start end] into start_ts/end_ts fields
  src/trading_rl/trainers/episode_stats.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add EXPERIMENT_OUTPUT_DIR config setting, separate from text-log RL_LOG_DIR
  scripts/export_eval_to_thesis.py
  scripts/run_experiments.py
  src/cli.py
  src/trading_rl/config.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add .env support via python-dotenv, with .env.example as the template
  .env.example
  pyproject.toml
  scripts/download_stocks_from_gdrive.py
  scripts/download_thesis_stock_data.py
  scripts/fetch_stocks.py
  scripts/how.py
  src/logger/config.py
  src/trading_rl/config.py
  uv.lock
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Trim .env.example: drop env vars for logger's unused component-config system
  .env.example
Due: none

Chore: refresh thesis result snapshots and rendered PDF
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix 4 Dependabot alerts: bump mlflow to 3.15.1, override cryptography to >=50.0.0
  pyproject.toml
  uv.lock
Due: none

CI: render thesis PDF fresh on every push and auto-commit it back
  .github/workflows/publish.yml
Due: none

Drop redundant % suffix from pct-named log fields in evaluator.py
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Trim elapsed_s log fields to 3 decimal places in runtime_hooks.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix CI PDF-render hang: replace live mermaid diagrams with pre-rendered static images
  docs/diagrams/fig-experimental-pipeline.mmd
  docs/diagrams/fig-feature-selection-pipeline.mmd
  docs/diagrams/fig-rl-taxonomy.mmd
  gendata
  pcli
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/diagrams/fig-data-pipeline.pdf
  thesis/qmd/src/diagrams/fig-data-pipeline.svg
  thesis/qmd/src/diagrams/fig-experimental-pipeline.pdf
  thesis/qmd/src/diagrams/fig-experimental-pipeline.svg
  thesis/qmd/src/diagrams/fig-feature-selection-pipeline.pdf
  thesis/qmd/src/diagrams/fig-feature-selection-pipeline.svg
  thesis/qmd/src/diagrams/fig-rl-taxonomy.pdf
  thesis/qmd/src/diagrams/fig-rl-taxonomy.svg
  thesis/qmd/src/masters_thesis.pdf
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

added results
  .aliases
  pyproject.toml
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
Due: none

Fix syntax errors in auto-issue-triage skill init
  .claude/skills/auto-issue-triage/__init__.py
Due: none

Apply safe ruff autofixes: UP037, F541, UP017 (100 issues)
  examples/fetch_stock_data.py
  scripts/compare_equity_curves.py
  scripts/export_eval_to_thesis.py
  scripts/filter_us_hours.py
  scripts/generate_transformed_features_table.py
  scripts/h4_learning_progression_report.py
  scripts/publish_thesis.py
  scripts/run_experiments.py
  scripts/validate_all_raw_lob.py
  scripts/validate_per_symbol.py
  scripts/validate_prepared_data.py
  scripts/validate_raw_lob_data.py
  src/cli/commands/collect_results_command.py
  src/cli/commands/evaluate_command.py
  src/cli/commands/peek_command.py
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/data/preparation.py
  src/trading_rl/envs/builder.py
  src/trading_rl/evaluation/asset_meta.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/returns.py
  src/trading_rl/evaluation/thesis_theme.py
  src/trading_rl/feature_research/config.py
  src/trading_rl/features/groups.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/runtime_hooks.py
  thesis/qmd/src/thesis_asset_debug.py
  thesis/qmd/src/thesis_mlflow_results.py
  thesis/qmd/src/thesis_tables.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix all 227 T201 (print) findings
  pyproject.toml
  src/logger/core.py
  src/trading_rl/plotting.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
