Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Increase reward_scale 0.0001→0.00003 in aapl_single_day_small_obs
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_small_obs/train.yaml
Due: none

Reduce gamma 0.995→0.9 in aapl_single_day_small_obs
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_small_obs/train.yaml
Due: none

Increase gamma 0.9→0.99 in aapl_single_day_small_obs
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_small_obs/train.yaml
Due: none

Add aapl_single_day_oracle_only scenario with only future_close_vel feature
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_oracle_only/train.yaml
Due: none

Add aapl_minimal scenario with oracle-only feature config (produces only 1 plot)
  src/configs/scenarios/aapl_minimal/train.yaml
Due: none

Set gamma=0 in aapl_minimal for one-step-ahead oracle experiment
  src/configs/scenarios/aapl_minimal/train.yaml
Due: none

Add oracle vs reward alignment scatter plot artifact
  src/configs/scenarios/aapl_minimal/train.yaml
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add raw (unnormalised) oracle vs reward alignment plot
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Disable normalisation for future_close_vel oracle feature
  src/configs/feature_sets/hft_lob_future_log_return.yaml
Due: none

Set init_rand_steps=buffer_size=100k in aapl_minimal
  src/configs/scenarios/aapl_minimal/train.yaml
Due: none

Set init_rand_steps=100k in all AAPL pooled TD3 configs
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_oracle_only/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_small_obs/train.yaml
Due: none

Set init_rand_steps=100k in multi-asset pooled TD3 configs
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Add missing mode: hft to pooled TD3 configs
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Add feature_config and feature_columns to multi-asset pooled TD3 configs
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Revert feature_config/feature_columns from train.yaml in pooled configs
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Set gamma=0.9 in selected pooled TD3 config
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Wire results chapters to correct pooled experiment and enable statistical tests
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/evaluate.yaml
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/latest_metrics.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/params.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/runs_overview.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/runs_overview.parquet
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-01-statistical-validation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Make results chapters dynamic: query live MLflow first, export as fallback
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix flaky push-smoke collapse check for noise-floor DSR rewards
  tests/test_generated_data_experiments_smoke.py
Due: pytest

Split transformed_data_overview plots into all_vars and selected_vars
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add --export flag to peek command
  src/cli.py
  src/cli/commands/peek_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add dataset split and feature stats tables to data preparation chapter
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/correlations.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/feature_stats.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/log_return_stats.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/splits.csv
  src/cli/commands/peek_command.py
  thesis/qmd/src/05-01-data-preparation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add reward_scale support to DSR and set 1e-4 in pooled scenario
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/rewards/differential_sharpe.py
  thesis/qmd/src/04-03-reward-function.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Explain heavy-tailed features and obs_clip in feature statistics section
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Add critic pathologies and reward SNR sections to limitations chapter
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Expand GBRL section in alternative architectures and update bib entry
  thesis/bibliography/library.bib
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Add simpler model and hyperparameter sensitivity points to limitations chapter
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Add proprietary order flow as third missing information category in partial observability section
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Set reward_scale 1000 in pooled selected scenario
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Fix unclosed Python code fence in tbl-feature-stats cell
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Fix DSR epsilon 1e-8→1e-16 so var^1.5 dominates at tick level
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove placeholder Statistical Significance Summary section
  thesis/qmd/src/06-01-statistical-validation.qmd
Due: none

Set actor_weight_decay 2e-6→0 in pooled selected scenario
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Increase exploration_noise_std 0.1→0.3 in pooled selected scenario
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Fix peek CSV path resolution in data preparation QMD
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Remove subsection headings 4.3.3 and 4.3.4 in reward function chapter
  thesis/qmd/src/04-03-reward-function.qmd
Due: none

Persist DSR moments across episode boundaries in StreamingTradingEnv
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Set persist_moments=True as default in DifferentialSharpeRatio.reset()
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Switch pooled selected scenario to log_return reward, scale=10000
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: none

Rename peek correlation table to 'Feature vs log-return correlations'
  src/cli/commands/peek_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
