Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Fix: display_image_from_path guards against empty path / directory
  thesis/qmd/src/thesis_tables.py
Due: none

Guard DSR wrapper against nonfinite NLV
  src/trading_rl/rewards/dsr_wrapper.py
  tests/test_dsr_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test future mid-price velocity direction
  tests/test_lob_features.py
Due: pytest

Skip redundant feature research selections
  src/trading_rl/feature_research/service.py
  tests/test_feature_research_ic_scoring.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test HFT feature selector price fallback
  tests/test_enhanced_feature_selector.py
  thesis/qmd/src/masters_thesis.pdf
Due: pytest

Add exact feature formula tests
  tests/test_basic_feature_formulas.py
  tests/test_enhanced_feature_selector.py
Due: pytest

Add trainer evaluation path tests
  tests/test_trainer_evaluation_paths.py
Due: pytest

Fix overstated Sharpe ratio for short HFT evaluation windows
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/statistical_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove generic RL trading studies comparison table
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
Due: none

Add three Sharpe/Sortino variants; switch default to raw (μ/σ)
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  tests/test_evaluation_metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: multi-horizon ICIR zeroed for window_size=None in _build_multi_horizon_score_table
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove annualized Sharpe references from thesis tables and metric labels
  src/trading_rl/evaluation/metric_meta.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Simplify bar-aggregation explanation: remove frequency table
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Split 'Date Range' row into 'Start Datetime' and 'End Datetime'
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Convert evaluation_data artifacts from parquet to CSV
  src/cli.py
  src/cli/commands/evaluate_command.py
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add 14 new metrics to MetricReport; move eval JSON to evaluation_data/*/metrics.json
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/evaluation/metrics.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: legend always shows Deterministic first in equity/reward/action plots
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add reward_scale config field; fix DSR scale to apply after clipping
  src/trading_rl/config.py
  src/trading_rl/envs/trading_envs.py
  src/trading_rl/rewards/differential_sharpe.py
  src/trading_rl/rewards/dsr_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: log per-feature descriptive statistics alongside transformed_data_overview
  src/trading_rl/callbacks/__init__.py
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/callbacks/mlflow_callback.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: _performance_summary missing _MIN_ANNUAL_VOL guard for Sharpe/Sortino
  src/trading_rl/evaluation/statistical_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Increase default init_rand_steps from 50 to 5000
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix default max_steps to satisfy max_steps > init_rand_steps validation
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DSR epsilon calibrated to HFT tick-level portfolio returns
  src/trading_rl/rewards/differential_sharpe.py
  src/trading_rl/rewards/dsr_wrapper.py
  tests/test_differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Style: change Deterministic strategy line colour from blue to red
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: pre-flight config guardrail checks before training starts
  src/trading_rl/config.py
  src/trading_rl/config_guardrails.py
  src/trading_rl/pipeline/experiment_runner.py
  tests/test_pipeline_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add 11 more config guardrail checks
  src/trading_rl/config_guardrails.py
  tests/test_generated_data_experiments_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add gradient clipping (max_grad_norm=1.0) to TD3 and DDPG trainers
  src/trading_rl/config.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: rework DSR reward_scale guardrail to account for gradient clipping
  src/trading_rl/config_guardrails.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add 8 more config guardrail checks
  src/trading_rl/config_guardrails.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add descriptions to all 43 metrics in MetricMeta; expand METRIC_META to cover full MetricReport
  src/trading_rl/evaluation/metric_meta.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: split metrics table into two columns when rows exceed 20
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: propagate feature pipeline state through build_prepared_dataset into checkpoint
  src/trading_rl/data/loading.py
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add 10 new config guardrails (40 total)
  src/trading_rl/config_guardrails.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: calculate_benchmark_dsr epsilon=1e-8 → 1e-20 to match DifferentialSharpeRatio
  src/trading_rl/evaluation/benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: re-raise on corrupted feature cache pipeline state instead of silently continuing
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: validate symbol extracted from filename starts with a non-digit token
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add /inconsistencies skill for interface and naming consistency review
  .claude/skills/inconsistencies/skill.md
Due: none

feat: add benchmark reward curves to reward plot
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: standardise constructor parameter name qvalue_net -> value_net across trainers
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: standardise load_checkpoint to fail-fast on missing functional params
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
