Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Fix ruff lint issues + a real missing-module bug uncovered along the way
  .claude/skills/auto-issue-triage/__init__.py
  .claude/skills/d2-workflow/__init__.py
  .claude/skills/data-quality-auditor/scripts/outlier_detector.py
  examples/enhanced_feature_selection_demo.py
  pyproject.toml
  scripts/migrate_scenario_configs.py
  scripts/run_experiments.py
  src/trading_rl/__init__.py
  src/trading_rl/cache_utils.py
  src/trading_rl/config_guardrails_checks.py
  src/trading_rl/data/__init__.py
  src/trading_rl/evaluation/explainability.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/features/__init__.py
  src/trading_rl/features/talib_features.py
  src/trading_rl/pipeline/__init__.py
  src/trading_rl/rewards/differential_sharpe.py
  src/trading_rl/rewards/dsr_wrapper.py
  src/trading_rl/simple_continuous_wrapper.py
  tests/test_benchmark_engine.py
  tests/test_checkpoint_and_cache_utils.py
  tests/test_dsr_wrapper.py
  tests/test_gymnasium_wrapper.py
  tests/test_metrics_helpers_direct.py
  tests/test_volume_features_exact.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix E702 (semicolon multi-statements) in evaluator.py
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix F821, S110/S112, DTZ006 in peek/experiment commands and returns.py
  src/cli/commands/experiment_command.py
  src/cli/commands/peek_command.py
  src/trading_rl/evaluation/returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix E402 module-import-not-at-top across 6 files
  .claude/skills/data-quality-auditor/scripts/data_profiler.py
  examples/filter_lob_data.py
  scripts/download_stocks_from_gdrive.py
  scripts/download_thesis_stock_data.py
  scripts/fetch_stocks.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix 5 B904 raise-without-from violations
  scripts/fetch_crypto.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix 31 of 34 remaining ruff findings (DTZ005/6/7, F401, S603/607, RUF012, S324, RUF043, S112, B007, B024, B027, S301)
  scripts/export_all_to_thesis.py
  src/cli/commands/artifacts_command.py
  src/cli/commands/checkpoints_command.py
  src/cli/commands/dashboard_command.py
  src/cli/commands/evaluate_command.py
  src/cli/commands/experiments_command.py
  src/trading_rl/callbacks/artifacts_config.py
  src/trading_rl/data/loading.py
  src/trading_rl/data_fetchers/download_tracker.py
  src/trading_rl/data_fetchers/stock_fetcher.py
  src/trading_rl/envs/latency.py
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/asset_meta.py
  src/trading_rl/evaluation/thesis_theme.py
  src/trading_rl/feature_research/service.py
  src/trading_rl/features/registry.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/registry.py
  tests/test_feature_pipeline.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Commit outstanding changes from concurrent work-in-progress session
  .claude/skills/data-quality-auditor/scripts/missing_value_analyzer.py
  .claude/skills/karpathy-coder/scripts/diff_surgeon.py
  .gitignore
  scripts/install_thesis_fonts.py
  scripts/publish_thesis.py
  scripts/validate_raw_lob_data.py
  src/cli.py
  src/cli/commands/collect_results_command.py
  src/trading_rl/data/cache.py
  src/trading_rl/data/preparation.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/features/base.py
  src/trading_rl/features/selector.py
  tests/test_dsr_parameters.py
  tests/test_nlv_calculation.py
  tests/test_pooled_and_per_day_splits.py
  tests/test_running_scalers.py
  thesis/figures/td3_architecture_diagram.py
  thesis/qmd/src/thesis_tables.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add domain-specialized subagents for RL, data, eval, CLI, and thesis
  .claude/agents/cli.md
  .claude/agents/data-pipeline.md
  .claude/agents/evaluation-metrics.md
  .claude/agents/feature-engineering.md
  .claude/agents/rl-training.md
  .claude/agents/thesis-writer.md
  .claude/agents/trading-env.md
Due: none

Fix: evaluate_per_symbol no longer fits feature pipeline on validation data
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: _yaml_uses_global fails safe (assumes GLOBAL) on parse error
  src/trading_rl/data/cache.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: RollingWindowScaler adds epsilon guard against zero rolling_std
  src/trading_rl/features/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: episode-final-NLV snapshot was a single scalar, not a per-episode queue
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/trainers/base.py
  tests/test_streaming_env.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: log exception detail in runtime_hooks train/val progression plot handler
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: TD3 console log printed stale pre-actor-update loss_actor
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DDPG console log printed re-derived post-update loss_value
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add tests/test_models.py covering all 11 network architecture factories
  tests/test_models.py
Due: pytest

Add tests/test_explainability.py with real permutation-importance coverage
  tests/test_explainability.py
Due: pytest

Add tests/test_latency.py covering all latency model classes
  tests/test_latency.py
Due: pytest

Fix: write_selected_yaml dropped normalization_method/rolling_window overrides
  src/trading_rl/features/selector.py
  tests/test_enhanced_feature_selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: VWAP silently degrades to TWAP-equal-weighting with no warning on zero volume
  src/trading_rl/evaluation/statistical_benchmarks.py
  tests/test_statistical_benchmark_extensions.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: short_and_hold benchmark flag is silently ignored
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/evaluation/benchmarks.py
  tests/test_benchmark_engine.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DSR benchmark reward-plot curves offset by one step from agent curve
  src/trading_rl/evaluation/plots.py
  tests/test_actual_returns_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: TD3 exploration_ratio metric reports policy_noise instead of exploration_noise_std
  src/trading_rl/trainers/td3.py
  tests/test_offpolicy_trainer_wiring.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: TrendFeature resets at session boundaries instead of using the whole-frame first row
  src/trading_rl/features/price_features.py
  tests/test_basic_feature_formulas.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: 7 guardrail checks read pre-refactor flat TrainingConfig attributes
  src/trading_rl/config_guardrails_checks.py
  tests/test_config_guardrails_nested.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix intraday annualisation across session gaps
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #280 intraday annualisation inference
  src/trading_rl/evaluation/report.py
  tests/test_evaluation_report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

all committed
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/callbacks/tracking.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/runtime_hooks.py
  tests/test_runtime_tracking_port.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: Group-style feature YAML silently drops normalization_method/rolling_window/session-break overrides
  src/trading_rl/features/groups.py
  tests/test_feature_groups.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor trainer dispatch to explicit catalog
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/__init__.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/random_trainer.py
  src/trading_rl/trainers/recurrent_ppo.py
  src/trading_rl/trainers/registry.py
  src/trading_rl/trainers/sac.py
  src/trading_rl/trainers/td3.py
  tests/test_trainer_registry.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Extract training configuration service
  src/cli/services/training_config_service.py
  src/trading_rl/envs/builder.py
  tests/cli/test_training_config_service.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: reward_function passed as concrete callable; centralize reward dispatch for gym_trading_env backends
  tests/test_env_builder.py
Due: pytest

Delegate training config preparation to service
  src/cli/commands/training_command.py
  src/cli/services/__init__.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: _select_features recomputes conditional ICIR after residualization
  src/trading_rl/feature_research/service.py
  tests/test_feature_research_ic_scoring.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix pdfsniffer defects: orphaned figure reference and overflowing vwmp_skew formula in appendix
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix: typeset scientific notation and +/- in appendix experiment spec table
  thesis/qmd/src/thesis_mlflow_results.py
  thesis/qmd/src/thesis_tables.py
Due: none

Fix: prevent mid-expression line breaks in Table 13 Param column
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix PDF rendering: Figure 1 TikZ next-step labels overlap Environment box
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
Due: none
