Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Add episode_length to Steps table and legend
  src/cli/commands/training_command.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Show per-split performance tables (Train / Val / Test)
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update carti skill: add PS5/birth distracted energy
  .claude/skills/carti/skill.md
Due: none

Add issue-triage skill: triage GitHub issues by severity with code evidence
  .claude/skills/issue-triage/skill.md
Due: none

Add test-coverage-check skill: audit component test coverage and generate missing tests
  .claude/skills/test-coverage-check/skill.md
Due: none

Increase eval_steps from 720 to 10000 in all HFT configs
  src/configs/scenarios/aapl/ddpg_hft_lob_state_space.yaml
  src/configs/scenarios/aapl/ppo_hft_lob_state_space.yaml
  src/configs/scenarios/aapl/td3_hft_lob.yaml
  src/configs/scenarios/aapl/td3_hft_lob_l5_active.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space_streaming.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected.yaml
Due: none

Add tests for DSR formula exact values and old-EMA ordering
  tests/test_dsr_formula_exact.py
Due: pytest

Add tests for StreamingTradingEnv _load_window and _next_symbol_idx
  tests/test_streaming_env.py
Due: pytest

Add tests for prepare_data split boundary logic
  tests/test_prepare_data_splits.py
Due: pytest

Add tests for AlgorithmicEnvironmentBuilder._resolve_backend
  tests/test_env_builder.py
Due: pytest

Add tests for FeaturePipeline fit/transform leakage prevention
  tests/test_feature_pipeline.py
Due: pytest

Add eval_fraction to TrainingConfig as data-size-relative eval horizon
  src/configs/scenarios/aapl/ddpg_hft_lob_state_space.yaml
  src/configs/scenarios/aapl/ppo_hft_lob_state_space.yaml
  src/configs/scenarios/aapl/td3_hft_lob.yaml
  src/configs/scenarios/aapl/td3_hft_lob_l5_active.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space_streaming.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected.yaml
  src/trading_rl/config.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Propagate eval_fraction into MLflow artifacts and final metrics
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add sine wave TD3 smoke scenario
  tests/test_generated_data_experiments_smoke.py
Due: pytest

Run smoke tests after commits
  .githooks/post-commit
Due: none

Register push smoke pytest marker
  pytest.ini
Due: none

Add snapshot skill for daily stable-version tagging and changelog
  .claude/skills/snapshot/skill.md
Due: none

Add extended push smoke tests
  .githooks/pre-push
  tests/test_generated_data_experiments_smoke.py
Due: pytest

Add git push step to snapshot skill
  .claude/skills/snapshot/skill.md
Due: none

Update snapshot skill to create GitHub Release with AI-generated changelog
  .claude/skills/snapshot/skill.md
Due: none

Use gh release list to find PREV in snapshot skill
  .claude/skills/snapshot/skill.md
Due: none
