Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Refactor: extract _AnyTradingEnvironmentFactory to eliminate Forex/Stocks copy-paste
  src/trading_rl/envs/trading_envs.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: vectorize _drawdown_stats max-duration — replace Python loop with numpy
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: use bare raise in TD3 exception handler to preserve original traceback
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: wrap Image.open() calls in context managers to prevent file handle leaks
  src/trading_rl/callbacks/artifacts_evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: stage progression history entry — only commit to shared state on success
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Docs: add explicit close-resolved-issues instruction to bugfinder, antipattern, and release skills
  .claude/skills/antipattern/SKILL.md
  .claude/skills/bugfinder/skill.md
  .claude/skills/release/skill.md
Due: none

Fix: remove two-column layout from metrics table — always single column
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add config guardrails and runtime health monitor to workflow diagram
  docs/workflow.d2
  docs/workflow.svg
Due: none

Feat: reference workflow diagram from Chapter 5 and add Appendix E overview
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix: improve H3 section headings and feature stats table caption
  src/configs/h3_sensitivity.yaml
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Fix: shorten Table 7 caption and move explanatory note below table
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Fix: shorten Table 1 caption and move source/footnote below table
  thesis/qmd/src/03-02-actor-critic-methods.qmd
Due: none

Fix: wrap policy parameter table output in display() and add table_note
  thesis/qmd/src/04-05-policy.qmd
Due: none

Refactor: update plot Y-axis labels and increase metrics table size
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: close Python code block before markdown content
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Refactor: remove $ from Final Portfolio Value label
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Docs: add comprehensive CLI documentation split by category
  docs/cli/inspection_validation.md
  docs/cli/mlflow_management.md
  docs/cli/overview.md
  docs/cli/workflow_commands.md
  docs/data_guide.md
  docs/overview.md
Due: none

Refactor: move log scale info from Y-axis to caption
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add validate guardrails CLI command
  docs/cli/inspection_validation.md
  docs/cli/overview.md
  docs/cli/workflow_commands.md
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add table_note helper function and Lua filter
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
  scripts/run_h4_experiments.sh
  scripts/train_all_thesis_experiments.sh
  src/cli.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/03-02-actor-critic-methods.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/tablenote.lua
  thesis/qmd/src/thesis_tables.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove: Evaluation Metadata Snapshot section
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Fix: improve scenario path resolution in validate guardrails
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: separate plot data-building from rendering for QMD size control
  src/cli/commands/evaluate_command.py
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/runtime_hooks.py
  src/trading_rl/utils.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: use weights_only=True for all torch.load checkpoint calls
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/policy_loader.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: decouple trainer checkpoint save from MLflow global state
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: write asset_meta sidecars for plot data parquets
  src/trading_rl/callbacks/artifacts_evaluation.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: log MLflow metric flag when statistical tests fail silently
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add audit_plots param and show_plot helper for QMD provenance
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix: benchmark reward curves use strided index s instead of sequential i
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add width/height params to show_plot for programmatic figure sizing
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix: increase metrics table figure size by 15% in both dimensions
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: elevate results.json write failure from warning to error
  src/trading_rl/pipeline/experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add pre-render hook to run export_all_to_thesis before quarto render
  thesis/qmd/src/_quarto.yml
Due: none

Fix: add persist_moments reset coverage for DifferentialSharpeRatioAnyTrading
  tests/test_differential_sharpe.py
Due: pytest

Fix: exit 0 when scenarios are skipped in export_all_to_thesis
  scripts/export_all_to_thesis.py
Due: none

Fix: replace Quarto params with env var for audit_plots
  pyproject.toml
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_h3_features_full/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/plots/portfolio_value.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/.gitignore
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/thesis_mlflow_results.py
  uv.lock
Due: none

Fix: align TWAP reward-plot exposure with equity-curve lagged model
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: remove PDF re-render from CI, use committed PDF directly
  .github/workflows/publish.yml
Due: none

Add tests for volatility and volume feature compute() logic
  tests/test_volatility_features_exact.py
  tests/test_volume_features_exact.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_full/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/masters_thesis.pdf
Due: pytest

Feat: add custom CSS to make DataFrames full document width
  thesis/qmd/src/custom.css
  thesis/qmd/src/masters-thesis.qmd
Due: none
