Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Thesis: add tradingenv paragraph and bibliography entry
  thesis/bibliography/library.bib
  thesis/qmd/src/05-00-implementation.qmd
Due: none

Docs: update memmap file listings and cache invalidation description
  docs/training_pipeline.md
  docs/workflow.d2
Due: none

Feat: add RANDOM_ACTIONS benchmark to benchmark performance table
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: move timing unit into key name (elapsed_s= not elapsed=Xs)
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: update rendered thesis PDF (2026-06-02 15:22 UTC)
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: escape bare < in log messages so loguru does not misparse them as color tags
  src/logger/core.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test: add feature look-ahead / data leakage detection tests
  tests/test_feature_lookahead.py
Due: pytest

Perf: replace env-rollout random baseline with fast price-based computation
  src/cli/commands/evaluate_command.py
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/evaluation/statistical_tests.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add 1s-bar downsampling script and td3_hft_lob_1s_dsr scenario config
  scripts/downsample_to_1s.py
  src/configs/scenarios/pooled/td3_hft_lob_1s_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_1s_dsr/observation.yaml
  src/configs/scenarios/pooled/td3_hft_lob_1s_dsr/train.yaml
Due: none

Fix: create memmap_dir before writing eval_symbol_counter on first run
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: skip legacy symbols validation when data_paths are provided
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: keep resampled columns as float64 instead of converting to Int64
  scripts/downsample_to_1s.py
Due: none

Fix: remove feature_hft_signed_trade_flow_50 from 1s scenario
  src/configs/scenarios/pooled/td3_hft_lob_1s_dsr/observation.yaml
Due: none

Feat: add random_actions benchmark to td3_hft_lob_1s_dsr evaluate config
  src/configs/scenarios/pooled/td3_hft_lob_1s_dsr/evaluate.yaml
Due: none

Feat: highlight comma-formatted numbers in key=value log tokens
  src/logger/core.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: remove raw ANSI codes from log_banner to prevent [0m artifact
  src/logger/utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: trim temp eval metrics log to 3 decimal places
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: restore_pipeline_state sets _is_fitted instead of fitting on val data
  src/trading_rl/data/loading.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: preserve traceback when save_training_results_json fails
  src/trading_rl/pipeline/experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DDPG _log_progress now uses post-critic-update actor loss
  src/trading_rl/trainers/ddpg.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: replace _per_symbol_worker positional tuple with _WorkerArgs dataclass
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: TD3 only logs actor loss on steps where actor is actually updated
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: close memmap FD in load_memmap_paths after reading n_rows
  src/trading_rl/data_loading.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: update rendered thesis PDF (2026-06-03 10:45 UTC)
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_full/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/masters_thesis.pdf
Due: none

Feat: add td3_hft_lob_dsr_tick_cross_symbol scenario for cross-symbol validation
  src/configs/scenarios/pooled/td3_hft_lob_dsr_tick_cross_symbol/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_dsr_tick_cross_symbol/observation.yaml
  src/configs/scenarios/pooled/td3_hft_lob_dsr_tick_cross_symbol/train.yaml
Due: none

Feat: add compare_equity_curves.py script for cross-scenario equity comparison
  scripts/compare_equity_curves.py
Due: none

Fix: default output dir to thesis/qmd/src/_figures for compare_equity_curves
  scripts/compare_equity_curves.py
Due: none

Feat: add bid/ask spread execution to StreamingTradingEnvXY
  src/trading_rl/config.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: replace implicit bid/ask columns with explicit execution_price mode
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add modular obs/exec latency simulation to StreamingTradingEnvXY
  src/trading_rl/config.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/latency.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add time-based latency models (microseconds → ticks resolved at episode reset)
  src/trading_rl/config.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/latency.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Perf: use asi8 + numpy searchsorted in _us_to_ticks to avoid TimedeltaIndex alloc
  src/trading_rl/envs/latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add off-policy trainer wiring tests
  tests/test_offpolicy_trainer_wiring.py
Due: pytest

Chore: update rendered thesis PDF (2026-06-03 17:38 UTC)
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_full/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: skip _-prefixed data dicts in _save_plots and wire equity curve to MLflow
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add --save-trades flag to export broker trade log as CSV
  src/cli.py
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: require opt-in for oracle features
  src/trading_rl/config.py
  src/trading_rl/config_guardrails_checks.py
  tests/test_config_guardrails_oracle.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: mark oracle scenarios explicit
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_oracle_only/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_future_oracle_combined/train.yaml
Due: none

Fix: centralize feature pipeline restore
  src/cli/commands/evaluate_command.py
  src/trading_rl/data/loading.py
  src/trading_rl/pipeline/evaluation.py
  tests/test_data_loading_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
