Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Fix: test_streaming_evaluation cache fixture didn't account for warmup_rows default
  tests/test_streaming_evaluation.py
Due: pytest

Fix: _validate_experiment_config omits SAC (tau) and RECURRENT_PPO (clip_epsilon)
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: _check_val_test_imbalance ZeroDivisionError when validation_size=0
  src/trading_rl/config_guardrails_checks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: four pattern generators unseeded, datasets not reproducible
  src/data_generator/_config.py
  src/data_generator/_drift.py
  src/data_generator/_generator.py
  src/data_generator/_mean_reversion.py
  src/data_generator/_sine.py
  src/data_generator/_trending.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update chat log for 2026-08-28
  docs/chat/chat-2026-08-28.md
Due: none

Fix: remove stray double space in scope-and-objectives intro
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: regressions from today's over-broad guardrail algorithm-set changes
  src/trading_rl/config_guardrails_checks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: random_walk unreachable and seed ignored on the production CLI path
  src/cli/commands/data_generator_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: extract EvaluationRunParams so _run_evaluation stops reaching into config directly
  src/trading_rl/config.py
  src/trading_rl/trainers/base.py
  tests/test_trainer_evaluation_paths.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: RL loop diagram now shows the time-step boundary and both label pairs
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/diagrams/rl-loop.tex
Due: none

Fix: Figure 2 (RL taxonomy) floats out of section 3.2 into the next page
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Regenerate rl-loop SVG/PDF from the corrected TikZ source
  thesis/qmd/src/diagrams/rl-loop.pdf
  thesis/qmd/src/diagrams/rl-loop.svg
Due: none

Fix: table-note (Legend/Note/Source) text misaligned with its centered table
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/tablenote.lua
Due: none

Fix: figure captions centered and not bold, violating WNE UW rules 10-11
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: table header row not actually centered, violating WNE UW rule 10
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/tableheader.lua
Due: none

Add required Source attribution to thesis tables (WNE UW rule 10)
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/04-05-policy.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Add Source attribution to thesis figures and the appendix feature registry
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix: caption label separator is a colon, not the required period
  thesis/qmd/src/masters-thesis.qmd
Due: none

Add missing Source line to the benchmark comparison table
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Land staged List-of-Appendices .cls fix and refreshed results exports
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/pracamgrwne.cls
Due: none

Rebuild thesis PDF with source attributions and period caption separator
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: abstract heading stranded on its own page; tighten abstract prose
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/pracamgrwne.cls
Due: none

Add chat log for 2026-08-29
  docs/chat/chat-2026-08-29.md
Due: none

Fix: abstract set in 14.3 pt against 12 pt body text (WNE UW rule 2)
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/pracamgrwne.cls
Due: none

Fix: table/figure source-note text centered or indented, not left-aligned
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/tablenote.lua
Due: none

Fix: table/figure source-note text centered or indented, not left-aligned (#507)
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/tablenote.lua
Due: none

Right-align numeric table columns via a new tablealign.lua filter
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/tablealign.lua
Due: none

Fix WNE front-matter formatting
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/pracamgrwne.cls
Due: none

Refactor thesis experiments into Python package
  docs/workflow.d2
  pyproject.toml
  scripts/h4_learning_progression_report.py
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
  scripts/run_h4_experiments.sh
  src/configs/h1_performance.yaml
  src/masters_thesis/__init__.py
  src/masters_thesis/experiments.py
  tests/test_h4_experiment_runner.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
