Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Rename ddpg/ppo sine_wave scenarios to drop redundant _sine_wave suffix
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_raw/train.yaml
Due: none

Rename td3_hft_lob_sine_wave -> td3_hft_lob_selected
  src/configs/scenarios/sine_wave/td3_hft_lob_selected/train.yaml
Due: none

Rename ddpg/ppo _hft_lob_sine_wave -> _hft_lob_selected
  src/configs/scenarios/sine_wave/ddpg_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_selected/train.yaml
Due: none

Add warmup_rows to DataConfig to drop running-scaler cold-start rows
  src/trading_rl/config.py
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Set warmup_rows default to 300
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Set warmup_rows default to 300; override to 0 in smoke tests
  tests/test_generated_data_experiments_smoke.py
  tests/test_learning_health_smoke.py
  tests/test_pipeline_smoke.py
Due: pytest

Multiply max_steps by 10 across all sine_wave scenario train configs
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_continuous/train.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_hft/train.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_tradingenv/train.yaml
  src/configs/scenarios/sine_wave/ppo_tradingenv_ohlcv_only/train.yaml
  src/configs/scenarios/sine_wave/ppo_trend/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/td3_no_trend/train.yaml
  src/configs/scenarios/sine_wave/td3_no_trend_tradingenv/train.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_all_features/train.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_ohlcv_price_action/train.yaml
Due: none

Match eval intervals in td3_hft_lob_raw to pooled scenario
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
Due: none

Double sine wave frequency: n_periods 5 → 10
  src/configs/data/sine_wave_hft_lob.yaml
Due: none

Add td3_hft_lob_prices_only scenario: bid/ask prices only, no sizes
  src/configs/feature_sets/hft_lob_prices_only.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_prices_only/train.yaml
Due: none

Add td3_hft_lob_raw_log_return scenario: log_return reward ablation
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_log_return/train.yaml
Due: none

Align ppo/ddpg_hft_lob_raw eval intervals with td3 counterpart
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_raw/train.yaml
Due: none

Suppress torchrl INFO logs (LazyTensorStorage init noise)
  src/logger/core.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix DDPG optimizer zero_grad ordering: zero before backward, not after
  src/trading_rl/trainers/ddpg.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Lower gamma 0.995 → 0.99 across sine_wave scenarios
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_prices_only/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_selected/train.yaml
Due: none

Fix #79 - Validate portfolio values in log-return reward
  src/trading_rl/rewards/fix_79.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #79 - Validate log-return reward
  fix_79.py
Due: none

Shorten train_size 15000 → 2000 for raw sine_wave scenarios
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_prices_only/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_log_return/train.yaml
Due: none

Add ddpg_hft_lob_raw_log_return scenario
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_log_return/train.yaml
Due: none

Fix peek command to use from_scenario for directory-based scenarios
  src/cli/commands/peek_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add price log-return stats table to peek command output
  src/cli/commands/peek_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix peek log-return stats to use raw prices, not normalized feature column
  src/cli/commands/peek_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix peek log-return stats: derive close as mid-price when absent from raw data
  src/cli/commands/peek_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Increase exploration_noise_std 0.1 -> 0.4 for hft_lob_raw DDPG and TD3 scenarios
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_log_return/train.yaml
Due: none

Add feature_bid/ask_px_00 vs log return scatter plots to transformed data overview
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add column_diff feature type and hft_lob_raw_with_velocity scenarios
  src/configs/feature_sets/hft_lob_raw_with_velocity.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_velocity_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_velocity_log_return/train.yaml
  src/trading_rl/features/column_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add price_noise_std param to HFT LOB generator, reduce to 0.001 in sine wave config
  src/configs/data/sine_wave_hft_lob.yaml
  src/data_generator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Tune TD3 hft_lob_raw_velocity_log_return: lower exploration noise, raise tau, extend warmup
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_velocity_log_return/train.yaml
Due: none

Fix obs_clip silently ignored in non-streaming TradingEnvXYFactory path
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add 2-level LOB feature set and TD3 scenario for leaner observation space
  src/configs/feature_sets/hft_lob_2level_with_velocity.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_2level_velocity_log_return/train.yaml
Due: none

Add td3_hft_lob_5level_velocity_log_return scenario for direct 2-vs-5 level comparison
  src/configs/scenarios/sine_wave/td3_hft_lob_5level_velocity_log_return/train.yaml
Due: none

Increase eval_steps and validation_size to 10000 for hft_lob sine_wave scenarios
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_log_return/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_velocity_log_return/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ppo_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_2level_velocity_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_5level_velocity_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_prices_only/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_velocity_log_return/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_selected/train.yaml
Due: none

Fix td3_hft_lob_raw_log_return: tau 0.001->0.005, init_rand_steps 1000->5000
  src/configs/scenarios/sine_wave/td3_hft_lob_raw_log_return/train.yaml
Due: none

Fix tau=0.001 and init_rand_steps=1000 across all remaining scenario configs
  src/configs/scenarios/btc/td3_tradingenv/train.yaml
  src/configs/scenarios/btc/td3_tradingenv_reduced_features/train.yaml
  src/configs/scenarios/default.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_log_return/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_raw_velocity_log_return/train.yaml
  src/configs/scenarios/sine_wave/ddpg_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_prices_only/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_raw/train.yaml
  src/configs/scenarios/sine_wave/td3_hft_lob_selected/train.yaml
  src/configs/scenarios/sine_wave/td3_no_trend_tradingenv/train.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_all_features/train.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_ohlcv_price_action/train.yaml
Due: none

Add td3_hft_lob_2level_velocity_low_tau scenario for tau ablation comparison
  src/configs/scenarios/sine_wave/td3_hft_lob_2level_velocity_low_tau/train.yaml
Due: none

Add td3_hft_lob_state_space_pooled_streaming_high_tau scenario for tau ablation
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
Due: none

Add missing observation.yaml to high_tau pooled scenario with selected features
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/observation.yaml
Due: none

Cap val/test to 50k rows in pooled streaming scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add td3_hft_lob_aapl_single_day scenario for fast iteration
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day/observation.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day/train.yaml
Due: none

Remove hft_hour_sin and hft_hour_cos from hft_lob_features_all
  src/configs/feature_sets/hft_lob_features_all.yaml
Due: none
