Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

decorator added
  scripts/tradingenv_wrapper_example.py
  scripts/train_trading_agent.py
  src/logger/__init__.py
  src/logger/decorators.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: add debug function call tracing decorator with env var support
  src/logger/decorators.py
  test_trace_decorator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

added basic test + pytest
  .vscode/settings.json
  README.md
  docs/experiment_workflow.md
  pytest.ini
  tests/test_action_probabilities_plot.py
  tests/test_manual_training_repro.py
Due: pytest

changes in tradingenv
  scripts/minimal_trading_test.py
  src/cli/commands/training_command.py
  src/configs/sine_wave_ppo_no_trend_tradingenv.yaml
  tests/conftest.py
  tests/test_algorithms_backends.py
  tests/test_manual_training_repro.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: add backend-aware action extraction for portfolio vs discrete envs
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: add backend-aware plot labels for portfolio vs discrete actions
  src/trading_rl/trainers/base.py
  src/trading_rl/utils.py
  tests/test_algorithms_backends.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: add backend-aware MLflow metric naming
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

added ppocontinuous, i think it works
  src/configs/sine_wave_ppo_no_trend_continuous.yaml
  src/configs/sine_wave_ppo_no_trend_tradingenv.yaml
  src/trading_rl/envs/__init__.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/models.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
  tests/test_continuous_ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

some fixes
  README.md
  docs/ppo_implementation_overview.md
  src/trading_rl/trainers/__init__.py
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: add TD3 support for tradingenv backend
  src/configs/sine_wave_td3_no_trend_tradingenv.yaml
  src/trading_rl/envs/builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fix: resolve dtype mismatch in compare_rollouts
  src/trading_rl/utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

added init rand steps in cli
  src/cli.py
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

looks like a wroking version
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: add upward_trend TD3 config with stability fixes + fix eval interval bug
  scripts/debug_td3_learning.py
  src/configs/sine_wave_td3_no_trend_tradingenv.yaml
  src/configs/upward_trend_td3_tradingenv.yaml
  src/trading_rl/config.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fix: correct feature_columns for upward_trend config
  src/configs/upward_trend_td3_tradingenv.yaml
Due: none

fix: remove redundant feature_pct_chng from all configs
  src/configs/sine_wave_ppo_no_trend_continuous.yaml
  src/configs/sine_wave_ppo_no_trend_tradingenv.yaml
  src/configs/sine_wave_td3_no_trend_tradingenv.yaml
  src/configs/upward_trend_td3_tradingenv.yaml
Due: none

feat: add feature_trend to capture price direction
  src/configs/upward_trend_td3_tradingenv.yaml
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

fixes to td3
  src/configs/upward_trend_ddpg_tradingenv.yaml
  src/trading_rl/envs/__init__.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/td3.py
  tests/test_manual_training_repro.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

new config
  src/configs/upward_trend_td3_tradingenv.yaml
Due: none

workign version with td3
  src/configs/upward_trend_td3_tradingenv.yaml
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
