Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Add lose_rate metric (fraction of steps with negative return)
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add LOB filter tests
  tests/test_lob_filters.py
Due: pytest

Add feature group resolver tests
  tests/test_feature_groups.py
Due: pytest

Add lose_rate to training command Performance table and legend
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add basic feature formula tests
  tests/test_basic_feature_formulas.py
Due: pytest

Add statistical test registry tests
  tests/test_statistical_test_registry.py
Due: pytest

Add data loading utility tests
  tests/test_data_loading_utils.py
Due: pytest

Rename Data Start/End to Date Start/End in training summary table
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add checkpoint and cache utility tests
  tests/test_checkpoint_and_cache_utils.py
Due: pytest

Add policy loader and wrapper tests
  tests/test_policy_loader_and_wrappers.py
Due: pytest

Add RandomTrainer baseline and RANDOM algorithm support
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_5k/evaluate.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_5k/observation.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_5k/train.yaml
  src/trading_rl/constants.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/__init__.py
  src/trading_rl/trainers/random_trainer.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add 1 bp transaction cost scenarios for DDPG, TD3, and PPO
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/observation.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/evaluate.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/observation.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/observation.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
Due: none

Reduce transaction cost to 0.00001 in all three fee scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
Due: none

Reduce transaction cost to 0.000001 in all three fee scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
Due: none

Add date range and symbols to per-split performance tables
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix datetime precision and per-split symbols in performance tables
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix val/test symbol display for streaming (memmap) mode
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Use rotated eval_symbol_selection in all 5k pooled scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k/train.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_5k/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
Due: none

Persist eval symbol to .eval_symbol_used and display it in perf tables
  src/trading_rl/data/preparation.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Cap CAGR display at 100,000% — show dash for inf/nan/overflow
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix rotated symbol display on cache-hit runs
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix rotated eval_symbol_selection: persist per-symbol val/test on first build
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add 125 targeted unit tests covering six untested gaps
  tests/test_benchmark_engine.py
  tests/test_dsr_parameters.py
  tests/test_feature_registry.py
  tests/test_metrics_helpers_direct.py
  tests/test_price_features_exact.py
  tests/test_resolve_symbol_index.py
Due: pytest

Fix double caption on benchmark/key-metrics tables in PDF output
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Fix double caption on dataset-splits table in PDF output
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Fix double caption on feature-stats table in PDF output
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Name and fix double caption on eval run metadata table
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Add 500-step moving average overlay to Portfolio Allocation plot
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Wire show_allocation_ma / allocation_ma_window through config to evaluator
  src/trading_rl/config.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Move descriptive sentence from tbl-transformed-features caption to note
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Correct MBP-10 description from L3 to hybrid L2/L3 across all files
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/05-00-implementation.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Add random policy sanity check to sine-wave section
  thesis/qmd/src/05-02-code.qmd
Due: none

Add H3 sensitivity analysis pipeline
  src/cli.py
  src/cli/commands/__init__.py
  src/cli/commands/sensitivity_report_command.py
  src/configs/h3_sensitivity.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/observation.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/observation.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/observation.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/observation.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/observation.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: introduce EvalSymbolSelection enum for eval_symbol_selection field
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/data/preparation.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: introduce LossFunction enum; align TD3 fallback with config default
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Move H3 sensitivity report from CLI command to standalone script
  scripts/h3_sensitivity_report.py
  src/cli.py
  src/cli/commands/__init__.py
  src/cli/commands/sensitivity_report_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: replace bare \"log_return\" fallback strings with RewardType.LOG_RETURN
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/trading_envs.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/policy_loader.py
  src/trading_rl/evaluation/report.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: consolidate FeatureDomain into EnvMode; add SHARED variant
  src/cli/services/config_validation_service.py
  src/trading_rl/constants.py
  src/trading_rl/features/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: update test_feature_groups to use EnvMode instead of removed FeatureDomain
  tests/test_feature_groups.py
Due: pytest

Add H2 feature sensitivity report script
  scripts/h2_feature_sensitivity_report.py
  thesis/qmd/src/masters_thesis.pdf
Due: none
