Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Fix: add exc_info=True to exception handlers that dropped stack traces
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: remove duplicate EnvMode import in config_validation_service
  src/cli/services/config_validation_service.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #78: raise ValueError when explicit price_column is missing from eval df
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: replace bare \"mft\" strings with EnvMode.MFT enum (issue #105)
  src/trading_rl/data/hft.py
  src/trading_rl/data/preparation.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #82: use SamplerWithoutReplacement in PPO on-policy buffer
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #77: block shaped-reward fallback in create_actual_returns_plot
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #79: replace nan_to_num with explicit validation in reward_function
  src/trading_rl/rewards/__init__.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: validation_size formula now consistent across cache/no-cache paths (issue #97)
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add random policy smoke test
  tests/test_random_policy_smoke.py
Due: pytest

Update workflow diagram for recent codebase changes
  docs/workflow.d2
  docs/workflow.png
  docs/workflow.svg
Due: none

Fix: ic_positive_ratio now averages IC values across CV splits, not selection frequency (issue #99)
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix DDPG skipped batch accounting
  src/trading_rl/trainers/ddpg.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add DDPG skipped batch tests
  tests/test_ddpg_skipped_batches.py
Due: pytest

Fix #81: DSR wrapper raises KeyError on missing portfolio_valuation key
  src/trading_rl/rewards/dsr_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #91: random baseline trial drop now logs warning when NLV extraction fails
  src/trading_rl/evaluation/statistical_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #85: hyperparameter search scores selected features only, not all candidates
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #95: narrow bare except RuntimeError in pipeline _run_rollout
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add feature selector search objective regression test
  tests/test_enhanced_feature_selector.py
Due: pytest

Fix #83: remove redundant exc_info in PPO visualization exception handlers
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #104: tighten type annotations for list[str] config fields
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Clean feature selector test lint
  tests/test_enhanced_feature_selector.py
Due: pytest

Sort feature selector test imports
  tests/test_enhanced_feature_selector.py
Due: pytest

Fix rank-average feature ensemble penalty
  src/trading_rl/features/selector.py
  tests/test_enhanced_feature_selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix multi-horizon IC series split
  src/trading_rl/features/selector.py
  tests/test_enhanced_feature_selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix #90: complete feature_pipeline_state plumbing; fix smoke test failures
  src/trading_rl/data/loading.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/trainers/ppo.py
  tests/test_pipeline_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Persist and restore feature pipeline state through checkpoints
  src/cli/commands/evaluate_command.py
  src/trading_rl/pipeline/experiment_runner.py
  src/trading_rl/pipeline/finalization.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add H1 performance report script, H1/H2 configs, and updated thesis PDF
  scripts/h1_performance_report.py
  src/configs/h1_performance.yaml
  src/configs/h2_feature_sensitivity.yaml
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: remove orphaned hit_rate duplicate from build_metric_report return dict
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reuse evaluation rollout across reports
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/report.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/base.py
  tests/test_evaluation_report.py
  tests/test_pipeline_evaluation.py
  tests/test_strategy_evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Clear stale evaluation rollout cache
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: skip short TradingEnv streaming episodes
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_streaming_env.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: log completed episodes by boundary
  src/trading_rl/trainers/base.py
  tests/test_base_trainer_episode_stats.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add issue coordination skills for multi-instance Claude Code sessions
  .claude/skills/auto-issue-triage/skill.md
  .claude/skills/claim/skill.md
  .claude/skills/issue-triage/skill.md
  .claude/skills/release/skill.md
Due: none

Fix discrete PPO action decoding
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/report.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/base.py
  tests/test_evaluation_report.py
  tests/test_strategy_evaluator.py
  tests/test_trainer_action_logging.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix TD3 policy delay schedule
  src/trading_rl/trainers/td3.py
  tests/test_td3_policy_delay.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix benchmark alignment for non-finite returns
  src/trading_rl/evaluation/metrics.py
  tests/test_evaluation_metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix evaluation annualization from dates
  src/trading_rl/evaluation/report.py
  tests/test_evaluation_report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: duplicate count in _deduplicate_hft_index_single reports original index not adjusted
  src/trading_rl/data/hft.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: build_evaluation_report_for_trainer ignores index-derived periods_per_year
  src/trading_rl/evaluation/report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: per-symbol DSR EMA state in StreamingTradingEnvXY (default), with opt-in cross-symbol persistence
  src/trading_rl/envs/tradingenvxy_wrapper.py
  tests/test_streaming_env.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
