Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Fix PDF rendering: PPO actor network equation overflows page width
  thesis/qmd/src/04-05-policy.qmd
Due: none

Fix PDF rendering: table source/legend notes torn from their table across page breaks
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/tablenote.lua
Due: none

Fix PDF rendering: List of Figures empty despite lof:true and 7+ figures
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix PDF rendering: fallback message overflow, and Table 5 header column merging
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_tables.py
Due: none

Add pdfsniffer skill: visual rendering-defect inspector for compiled PDFs
  .claude/skills/pdfsniffer/SKILL.md
Due: none

Separate build_experiment_runtime's global side effects from pure construction
  src/trading_rl/pipeline/__init__.py
  src/trading_rl/pipeline/experiment_runner.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/train_trading_agent.py
  tests/test_experiment_runner_branches.py
  tests/test_experiment_runtime_phases.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix 11 pre-existing test failures caused by test-fixture drift, not product bugs
  tests/conftest.py
  tests/test_pooled_and_per_day_splits.py
  tests/test_streaming_env.py
Due: pytest

Fix: raw checkmark glyph replaced with $\checkmark$ in appendix table legend
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add thesis-data-auditor agent, fix H4 script bug, sync .dsh skills mirror
  .claude/agents/thesis-data-auditor.md
  .dsh/skills/antipattern/SKILL.md
  .dsh/skills/auto-issue-triage/SKILL.md
  .dsh/skills/bugfinder/SKILL.md
  .dsh/skills/claim/SKILL.md
  .dsh/skills/cli/SKILL.md
  .dsh/skills/d2-workflow/SKILL.md
  .dsh/skills/data-pipeline/SKILL.md
  .dsh/skills/data-quality-auditor/SKILL.md
  .dsh/skills/docs-writer/SKILL.md
  .dsh/skills/equation-verifier/SKILL.md
  .dsh/skills/evaluation-metrics/SKILL.md
  .dsh/skills/feature-engineering/SKILL.md
  .dsh/skills/hemingway/SKILL.md
  .dsh/skills/inconsistencies/SKILL.md
  .dsh/skills/issue-duplicate-reviewer/SKILL.md
  .dsh/skills/issue-triage/SKILL.md
  .dsh/skills/karpathy-coder/SKILL.md
  .dsh/skills/pdfsniffer/SKILL.md
  .dsh/skills/release/SKILL.md
  .dsh/skills/rl-critic/SKILL.md
  .dsh/skills/rl-training/SKILL.md
  .dsh/skills/snapshot/SKILL.md
  .dsh/skills/software-architect/SKILL.md
  .dsh/skills/southerner/SKILL.md
  .dsh/skills/test-coverage-check/SKILL.md
  .dsh/skills/thesis-data-auditor/SKILL.md
  .dsh/skills/thesis-writer/SKILL.md
  .dsh/skills/trading-env/SKILL.md
  .pre-commit-config.yaml
  README.md
  scripts/run_h4_experiments.sh
  scripts/sync_dsh_skills.py
Due: none

Harden thesis-data-auditor's command-verification rules
  .claude/agents/thesis-data-auditor.md
  .dsh/skills/thesis-data-auditor/SKILL.md
Due: none

Chore: ignore graphify-out directories
  .gitignore
Due: none

Fix: format reward with precision in runtime hooks log line
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: correct export command in appendix missing-data message
  thesis/qmd/src/99-appendix.qmd
Due: none

Add committed peek-dataset snapshot so CI thesis render has Chapter 5 data
  scripts/export_peek_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/peek/correlations.csv
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/peek/feature_stats.csv
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/peek/raw_file_inventory.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/peek/splits.json
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Fix: point Chapter 5 data-prep tables at the committed peek snapshot
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Add chat log for 2026-08-19
  docs/chat-2026-08-19.md
Due: none

Fix: render Table 3 Total row with HTML bold instead of literal Markdown asterisks
  thesis/qmd/src/04-05-policy.qmd
Due: none

Fix: commit trimmed AAPL observation sample so Table 8 renders real data in CI
  scripts/export_observation_sample_to_thesis.py
  thesis/qmd/results/observation_samples/test_AAPL_observations_head_500.parquet
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix: Table 9 caption rendered as bare 'Table 9' with real text demoted to nested (a) subfloat
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Fix: Figure 1 (agent-environment loop) mixed s_t/r_t with s_t+1/r_t+1 on the same wire
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/diagrams/rl-loop.svg
Due: none

Fix: put Table 8 (9-column AAPL LOB sample) on its own landscape page
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Fix: Table 15 (experiment spec) duplicate List-of-Tables entry (#330)
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/thesis_tables.py
Due: none

Fix: unusually large paragraph gap near "Training Loop" section (#333)
  thesis/qmd/src/masters-thesis.qmd
Due: none

Fix: remove stray duplicate empty List of Figures before the Bibliography
  thesis/qmd/src/98-bibliography.qmd
Due: none

Fix: orphaned paragraph fragment and capitalized bibliography URLs
  thesis/bibliography/library.bib
  thesis/qmd/src/03-01-rl-categories.qmd
Due: none

Add wall-clock timeout guardrails and live trial-progress counter for H4
  scripts/run_h4_experiments.sh
  src/cli/commands/experiment_command.py
  src/trading_rl/config.py
  src/trading_rl/train_trading_agent.py
  src/trading_rl/trainers/training_loop.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: progress bar stuck at 100% during streaming/memmap training
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: PPO now runs complete minibatch passes over the full rollout each epoch
  src/trading_rl/trainers/ppo.py
  tests/test_ppo_optimization_step.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add H4 result snapshot, truncate Sharpe log precision, misc fixes
  src/trading_rl/evaluation/statistical_test_registry.py
  tests/test_explainability.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/h4_learning_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/manifest.json
  uv.lock
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
