Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Update chapter two include order
  thesis/qmd/src/masters-thesis.qmd
Due: none

Rename tick-level order book section
  thesis/qmd/src/02-01-tick-level-order-book-trading.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Rename chapter two decision framework section
  thesis/qmd/src/02-06-decision-framework-and-design-dimensions.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Rename trading problem formulation section
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/masters-thesis.qmd
Due: none

Verify applied RL bibliography entries
  thesis/bibliography/library.bib
Due: none

Add TD3 trading constraints bridge
  thesis/qmd/src/03-02-actor-critic-methods.qmd
Due: none

Tighten applied RL literature citations
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
Due: none

Remove unused provisional bibliography entries
  thesis/bibliography/library.bib
Due: none

Define approximate trading MDP
  thesis/qmd/src/03-00-reinforcement-learning.qmd
Due: none

Tighten Chapter 3 RL method claims
  thesis/qmd/src/03-00-reinforcement-learning.qmd
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/03-02-actor-critic-methods.qmd
Due: none

Clarify partial observability in RL framing
  thesis/qmd/src/03-00-reinforcement-learning.qmd
Due: none

Qualify replay buffer assumptions in finance
  thesis/qmd/src/03-01-rl-categories.qmd
Due: none

Strengthen TD3 method selection rationale
  thesis/qmd/src/03-02-actor-critic-methods.qmd
Due: none

Qualify microstructure tradability claims
  thesis/qmd/src/02-01-tick-level-order-book-trading.qmd
Due: none

Add native Databento stock fetcher
  src/trading_rl/data_fetchers/stock_fetcher.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Export StockDataFetcher
  src/trading_rl/data_fetchers/__init__.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add Databento dependency
  pyproject.toml
  uv.lock
Due: none

Align Databento passthrough parameters
  src/trading_rl/data_fetchers/stock_fetcher.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Handle count volume in stock aggregation
  src/trading_rl/data_fetchers/stock_fetcher.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Cover native stock data fetcher
  tests/test_stock_data_fetcher.py
Due: pytest

Add thesis stock data download wrapper
  scripts/download_thesis_stock_data.py
Due: none

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
