Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Wire H1 result figures in prose to generated LaTeX macros (#813)
  .gitignore
  scripts/generate_thesis_value_macros.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/_quarto.yml
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Import user-level Claude skills and dotfiles-editor agent into repo
  .claude/agents/dotfiles-editor.md
  .claude/skills/graphify/.graphify_version
  .claude/skills/graphify/SKILL.md
  .claude/skills/graphify/references/add-watch.md
  .claude/skills/graphify/references/exports.md
  .claude/skills/graphify/references/extraction-spec.md
  .claude/skills/graphify/references/github-and-merge.md
  .claude/skills/graphify/references/hooks.md
  .claude/skills/graphify/references/query.md
  .claude/skills/graphify/references/transcribe.md
  .claude/skills/graphify/references/update.md
  .claude/skills/new-machine-bootstrap/SKILL.md
  .claude/skills/python-project-structure/SKILL.md
  .claude/skills/skill-reviewer/SKILL.md
  .claude/skills/torq-developer/SKILL.md
  .claude/skills/torq-developer/kdb-ecosystem.md
  .claude/skills/torq-developer/q-language-reference.md
  .claude/skills/torq-developer/torq-internals.md
  .claude/skills/torq-developer/torq-patterns.md
  .claude/skills/torq-developer/torq-process-templates.md
Due: none

Regenerate .dsh/skills after importing user-level Claude assets
  .dsh/skills/dotfiles-editor/SKILL.md
  .dsh/skills/graphify/SKILL.md
  .dsh/skills/new-machine-bootstrap/SKILL.md
  .dsh/skills/python-project-structure/SKILL.md
  .dsh/skills/skill-reviewer/SKILL.md
  .dsh/skills/torq-developer/SKILL.md
Due: none

Import user-level Claude skills and the dotfiles-editor agent into the repo (#814)
  .claude/agents/dotfiles-editor.md
  .claude/skills/graphify/.graphify_version
  .claude/skills/graphify/SKILL.md
  .claude/skills/graphify/references/add-watch.md
  .claude/skills/graphify/references/exports.md
  .claude/skills/graphify/references/extraction-spec.md
  .claude/skills/graphify/references/github-and-merge.md
  .claude/skills/graphify/references/hooks.md
  .claude/skills/graphify/references/query.md
  .claude/skills/graphify/references/transcribe.md
  .claude/skills/graphify/references/update.md
  .claude/skills/new-machine-bootstrap/SKILL.md
  .claude/skills/python-project-structure/SKILL.md
  .claude/skills/skill-reviewer/SKILL.md
  .claude/skills/torq-developer/SKILL.md
  .claude/skills/torq-developer/kdb-ecosystem.md
  .claude/skills/torq-developer/q-language-reference.md
  .claude/skills/torq-developer/torq-internals.md
  .claude/skills/torq-developer/torq-patterns.md
  .claude/skills/torq-developer/torq-process-templates.md
  .dsh/skills/dotfiles-editor/SKILL.md
  .dsh/skills/graphify/SKILL.md
  .dsh/skills/new-machine-bootstrap/SKILL.md
  .dsh/skills/python-project-structure/SKILL.md
  .dsh/skills/skill-reviewer/SKILL.md
  .dsh/skills/torq-developer/SKILL.md
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Export the steps a run actually trained, not the configured budget (#797)
  scripts/export_eval_to_thesis.py
  tests/test_export_eval_to_thesis.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h2_fees_0_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h2_fees_1e4_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h2_fees_1e5_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h2_fees_1e6_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h3_features_selected/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h4_reward_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h4_reward_logreturn/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h5_latency_0_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h5_latency_100us_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h5_latency_10us_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h5_latency_1ms_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_h5_latency_5ms_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
Due: pytest

Compute omega_ratio on raw steps, like the statistics it generalises (#811)
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Measure benchmark-table drawdown on raw steps, matching the metric report (#812)
  src/trading_rl/evaluation/statistical_benchmarks.py
  tests/test_metrics_raw_vs_bar_regression.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Wire TD3 hyperparameters in prose to generated macros
  scripts/generate_thesis_value_macros.py
  thesis/qmd/src/04-01-action-space.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/04-05-policy.qmd
  thesis/qmd/src/04-06-discount-factor.qmd
  thesis/qmd/src/04-07-optimization-hyperparameters.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Wire TD3 hyperparameters in prose to generated macros (#815)
  scripts/generate_thesis_value_macros.py
  thesis/qmd/src/04-01-action-space.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/04-05-policy.qmd
  thesis/qmd/src/04-06-discount-factor.qmd
  thesis/qmd/src/04-07-optimization-hyperparameters.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Export hyperparameters from the run's effective config, not train.yaml
  scripts/export_eval_to_thesis.py
Due: none

Document the thesis data pipeline and its three snapshot bypasses
  docs/masters_thesis/data_pipeline.md
Due: none

Document the thesis data pipeline and its three snapshot bypasses (#819)
  docs/masters_thesis/data_pipeline.md
Due: none

Make the pipeline diagram readable
  docs/masters_thesis/data_pipeline.md
Due: none

Make the pipeline diagram readable (#820)
  docs/masters_thesis/data_pipeline.md
Due: none

Write experiment artifacts to output/experiments, not logs/
  .gitignore
  docs/masters_thesis/data_pipeline.md
  scripts/compare_equity_curves.py
  scripts/quick_tradingenv_test.sh
  src/configs/feature_research/aapl_hft_lob_state_space.yaml
  src/configs/feature_research/sine_wave_hft_lob_state_space.yaml
  src/trading_rl/config.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Write experiment artifacts to output/experiments, not logs/ (#821)
  .gitignore
  docs/masters_thesis/data_pipeline.md
  scripts/compare_equity_curves.py
  scripts/quick_tradingenv_test.sh
  src/configs/feature_research/aapl_hft_lob_state_space.yaml
  src/configs/feature_research/sine_wave_hft_lob_state_space.yaml
  src/trading_rl/config.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Drop the raw-results fallback from the scenario metric loaders
  docs/masters_thesis/data_pipeline.md
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Drop the raw-results fallback from the scenario metric loaders (#822)
  docs/masters_thesis/data_pipeline.md
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Resolve the results figures from the snapshot only, not MLflow
  docs/masters_thesis/data_pipeline.md
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Resolve the results figures from the snapshot only, not MLflow (#823)
  docs/masters_thesis/data_pipeline.md
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add one entry point for the thesis export stages
  .claude/agents/thesis-data-auditor.md
  .dsh/skills/thesis-data-auditor/SKILL.md
  pyproject.toml
  scripts/export_thesis_results.py
  scripts/generate_transformed_features_table.py
  src/masters_thesis/export/__init__.py
  src/masters_thesis/export/registry.py
  src/masters_thesis/export/stages.py
  tests/test_thesis_export_registry.py
  thesis/qmd/src/_quarto.yml
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add one entry point for the thesis export stages (#824)
  .claude/agents/thesis-data-auditor.md
  .dsh/skills/thesis-data-auditor/SKILL.md
  pyproject.toml
  scripts/export_thesis_results.py
  scripts/generate_transformed_features_table.py
  src/masters_thesis/export/__init__.py
  src/masters_thesis/export/registry.py
  src/masters_thesis/export/stages.py
  tests/test_thesis_export_registry.py
  thesis/qmd/src/_quarto.yml
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix the peek stage ordering and give it its own requirement
  docs/masters_thesis/data_pipeline.md
  src/masters_thesis/export/registry.py
  src/masters_thesis/export/stages.py
  tests/test_thesis_export_registry.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix the peek stage ordering and give it its own requirement (#825)
  docs/masters_thesis/data_pipeline.md
  src/masters_thesis/export/registry.py
  src/masters_thesis/export/stages.py
  tests/test_thesis_export_registry.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add quant-reviewer agent and the external reviewer report
  .claude/agents/quant-reviewer.md
  .dsh/skills/quant-reviewer/SKILL.md
  docs/masters_thesis/reviews/2026-09-12-slepaczuk-reviewer-report.pdf
  docs/masters_thesis/reviews/2026-09-12-slepaczuk-reviewer-report.txt
Due: none

Index the 33 external reviewer findings filed as GitHub issues
  docs/masters_thesis/reviews/README.md
Due: none

Address reviewer finding: extend bid/ask repricing to all six instruments (#858)
  scripts/export_bid_ask_repricing_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/peek/bid_ask_repricing.json
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add Quarto revealjs defence presentation
  .gitignore
  thesis/presentation/defence.qmd
  thesis/presentation/defence.scss
Due: none

Make the defence deck a single self-contained file
  thesis/presentation/defence.qmd
Due: none

Add the supervisor's review and widen quant-reviewer to cover both reports
  .claude/agents/quant-reviewer.md
  .dsh/skills/quant-reviewer/SKILL.md
  docs/masters_thesis/reviews/2026-09-10-sakowski-supervisor-report.pdf
  docs/masters_thesis/reviews/2026-09-10-sakowski-supervisor-report.txt
Due: none

Render the defence deck in CI and guard that it stays self-contained
  .github/workflows/daily-build.yml
  .github/workflows/publish.yml
Due: none

Correct the AAPL spread-cost ratio from ten to fifteen times (#832)
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
Due: none

Add official WNE identity assets for the defence presentation
  thesis/presentation/assets/README.md
  thesis/presentation/assets/wne-en.svg
Due: none

Build a five-minute WNE thesis defence with sourced charts and PDF export
  .github/workflows/publish.yml
  .gitignore
  thesis/presentation/README.md
  thesis/presentation/defence.qmd
  thesis/presentation/defence.scss
  thesis/presentation/export_pdf.py
  thesis/presentation/figures.py
  thesis/presentation/title-slide.html
Due: none
