Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Move DDPG and PPO training-loop pseudocode to the appendix
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Re-render PDF after moving DDPG/PPO pseudocode to the appendix
  thesis/qmd/src/masters_thesis.pdf
Due: none

Re-render PDF after rebase onto latest master
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix mangled CLI commands in missing-data notices, condense 02-07 survey clusters
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Condense chapter 1: cut intro/novelty/objectives duplication (plan item 18)
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Compress H1 summary paragraph to match H2/H3 style (plan item 29)
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/07-01-summary-of-findings.qmd
Due: none

Move feature-correlation table to appendix (plan item 30)
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Close out session 11: skip item 31, update plan summary
  docs/masters_thesis/length_reduction_plan.md
Due: none

Remove [VERIFIED] tracking markers from chapters 1-3
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/01-02-thesis-organization.qmd
  thesis/qmd/src/02-00-literature-review.qmd
  thesis/qmd/src/02-01-tick-level-order-book-trading.qmd
  thesis/qmd/src/02-02-market-microstructure-mechanisms.qmd
  thesis/qmd/src/02-03-from-signals-to-decisions.qmd
  thesis/qmd/src/02-04-competing-modeling-approaches.qmd
  thesis/qmd/src/02-05-reinforcement-learning-for-trading.qmd
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
  thesis/qmd/src/02-08-implications-for-this-thesis.qmd
  thesis/qmd/src/03-00-reinforcement-learning.qmd
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/03-02-actor-critic-methods.qmd
Due: none

Cut two within-file dedups found in fresh recon (plan items 33-34)
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
  thesis/qmd/src/03-00-reinforcement-learning.qmd
Due: none

Update length-reduction plan for session 12
  docs/masters_thesis/length_reduction_plan.md
Due: none

Tighten thesis prose (Hemingway pass)
  thesis/qmd/src/03-02-actor-critic-methods.qmd
  thesis/qmd/src/04-00-design-of-the-trading-agent.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/04-04-value-function.qmd
  thesis/qmd/src/04-06-discount-factor.qmd
  thesis/qmd/src/05-00-implementation.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Add read-only IPC introspection for live trainer processes
  src/cli.py
  src/cli/commands/__init__.py
  src/cli/commands/ps_command.py
  src/trading_rl/config.py
  src/trading_rl/ipc.py
  src/trading_rl/trainers/runtime_hooks.py
  tests/cli/test_ps_command.py
  tests/test_ipc.py
  tests/test_runtime_hooks_ipc.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Log session 13: automated dup-scan found small formal-compliance-gated candidate
  docs/masters_thesis/length_reduction_plan.md
Due: none

Condense duplicated direct-optimization discussion
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/02-04-competing-modeling-approaches.qmd
Due: none

Fix _neutral_position fallback for HOLD-less position lists (#437 follow-up)
  src/trading_rl/envs/builder.py
  src/trading_rl/envs/trading_envs.py
  tests/test_env_builder.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix stale training.eval_steps nesting in validate-command test fixture
  tests/cli/test_validate_command.py
Due: pytest

Add --parallel/--max-parallel support to h4 trial training
  src/masters_thesis/experiments.py
  tests/test_h4_experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add unusual-wording skill: lexical consistency scan for the thesis
  .claude/skills/unusual-wording/SKILL.md
  .claude/skills/unusual-wording/references/common_words_en50k.txt
  .claude/skills/unusual-wording/scripts/find_rare_words.py
  .dsh/skills/unusual-wording/SKILL.md
Due: none

Fix empty List of Appendices and reorder back-matter lists per WNE rule 15
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/pracamgrwne.cls
Due: none

Fix List of Appendices entries rendering at the wrong (chapter-heading) size
  thesis/qmd/src/99-appendix.qmd
Due: none

State UTC/USD convention once instead of repeating on every table column
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Catch Ctrl-C during post-training phase instead of killing the process
  src/trading_rl/pipeline/experiment_runner.py
  tests/test_experiment_runner_branches.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Catch Ctrl-C during post-training phase instead of killing the process (#564)
  src/trading_rl/pipeline/experiment_runner.py
  tests/test_experiment_runner_branches.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reap the child in _run_tee when Ctrl-C aborts the read loop
  src/masters_thesis/experiments.py
  tests/test_run_tee_cleanup.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reap the child in _run_tee when Ctrl-C aborts the read loop (#565)
  src/masters_thesis/experiments.py
  tests/test_run_tee_cleanup.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add good-results-uploaded skill: commit promising experiment results
  .claude/skills/good-results-uploaded/SKILL.md
  .dsh/skills/good-results-uploaded/SKILL.md
Due: none

Add good-results-uploaded skill: commit promising experiment results (#566)
  .claude/skills/good-results-uploaded/SKILL.md
  .dsh/skills/good-results-uploaded/SKILL.md
Due: none

Import CLI command classes and trading_rl lazily per subcommand
  src/cli.py
  src/cli/commands/__init__.py
  tests/test_cli_lazy_imports.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Import CLI command classes and trading_rl lazily per subcommand (#567)
  src/cli.py
  src/cli/commands/__init__.py
  tests/test_cli_lazy_imports.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add experiment-auditor agent: sniff out issues in the experiment layer
  .claude/agents/experiment-auditor.md
  .dsh/skills/experiment-auditor/SKILL.md
Due: none

Add experiment-auditor agent: sniff out issues in the experiment layer (#568)
  .claude/agents/experiment-auditor.md
  .dsh/skills/experiment-auditor/SKILL.md
Due: none

Trim split-sizes table timestamps to whole-second precision
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none
