Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Fix: convert bold-text pseudo-headings to proper #### headings so {#sec-} labels parse correctly
  thesis/qmd/src/04-05-policy.qmd
Due: none

Remove short-and-hold benchmark: redundant (mirror of buy-and-hold), drop from code and thesis prose
  src/cli/commands/collect_results_command.py
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/report.py
  src/trading_rl/evaluation/statistical_tests.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Wrap wide H1 and H2 tables in landscape environment for PDF rendering
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Double thesis plot base font size from 11pt to 22pt
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: introduce ReportingFrequency enum as single source for timeframe→ppy mapping
  tests/test_benchmark_engine.py
  tests/test_statistical_benchmark_extensions.py
Due: pytest

Thesis: update performance-evaluation section to explain return aggregation for ratio metrics
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Remove operational/debugging sections from results chapter
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-01-statistical-validation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Remove short_and_hold from all YAML experiment configs
  src/configs/h1_performance.yaml
  src/configs/scenarios/btc/td3_tradingenv/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming/evaluate.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/evaluate.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_5k/evaluate.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Add max_train_seconds wall-clock budget to training loop
  src/trading_rl/config.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Set max_train_seconds default to None (unlimited)
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix merged comparison plot dimensions for 22pt base font (9in per panel, save at 16x27)
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add network stats DEBUG logging to _log_progress for TD3, DDPG, PPO
  .claude/settings.json
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: add missing logging import to ppo trainer
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add --max-train-seconds flag to run_h1_experiments.sh
  scripts/run_h1_experiments.sh
Due: none

Fix: temp eval computes and logs Sharpe/Sortino at every temp_eval_interval step
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reduce training loss plot line width by 40%
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/plotting.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add environment builder routing tests
  tests/test_env_builder.py
Due: pytest

Add PPO optimization step unit test
  tests/test_ppo_optimization_step.py
Due: pytest

Make experiment deletion permanent (skip GC step)
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add TD3 optimization step unit test
  tests/test_td3_policy_delay.py
Due: pytest

Fix: NaN Sharpe/Sortino for flat equity curves; add close price plot to temp eval
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/runtime_hooks.py
  tests/test_build_metric_report_edge_cases.py
  tests/test_evaluation_metrics.py
  tests/test_generated_data_experiments_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Format close_price plot x-axis as HH:MM:SS with 90° label rotation
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add DDPG optimization step unit tests
  tests/test_ddpg_skipped_batches.py
Due: pytest

Add metrics table PNG artifact to temp eval artifacts
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add trainer checkpoint round-trip tests
  tests/test_trainer_checkpoints.py
Due: pytest

Centralise metric display metadata in metric_meta.py
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
  src/trading_rl/evaluation/benchmark_table.py
  src/trading_rl/evaluation/metric_meta.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add streaming environment builder tests
  tests/test_env_builder.py
Due: pytest

Add BaseTrainer training loop branch tests
  tests/test_base_trainer_training_loop.py
Due: pytest

Add experiment runner branch tests
  tests/test_experiment_runner_branches.py
Due: pytest

Add statistical test orchestration edge cases
  tests/test_statistical_benchmark_extensions.py
Due: pytest

Add downsampling note to plot captions when stride > 1
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Set eval_fraction to 1.0 across all pooled scenario configs
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/train.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k/train.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_5k/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_5k_1bp/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Fix 2600% annual vol for HFT tick data; add date range to metrics table
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add real streaming env memmap test
  tests/test_streaming_env.py
Due: pytest

Add FeaturePipeline config loading tests
  tests/test_feature_pipeline.py
Due: pytest

Raise temp eval rollout length to 200k steps
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/trading_rl/config.py
  src/trading_rl/pipeline/experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add logging.log_data_overviews flag, default False
  src/trading_rl/config.py
  src/trading_rl/pipeline/checkpoint.py
  src/trading_rl/pipeline/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Log metrics_table.png to final evaluation plots for each split
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Move metric legend to METRIC_LEGEND in metric_meta.py; add to PNG footer
  src/cli/commands/training_command.py
  src/trading_rl/evaluation/metric_meta.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: sub-minute tick windows now produce finite annualised vol
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
