Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Add report-only checks for orphaned equations and unused bibliography entries
  scripts/report_unused_bibliography.py
  thesis/qmd/src/crossref_hardcoding.py
Due: none

Add report-only checks for orphaned equations and unused bibliography entries (#782)
  scripts/report_unused_bibliography.py
  thesis/qmd/src/crossref_hardcoding.py
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add chapter-reference and figure/table Source-attribution checks
  tests/test_source_attribution.py
  thesis/qmd/src/crossref_hardcoding.py
  thesis/qmd/src/source_attribution.py
Due: pytest

Add chapter-reference and figure/table Source-attribution checks (#783)
  tests/test_source_attribution.py
  thesis/qmd/src/crossref_hardcoding.py
  thesis/qmd/src/source_attribution.py
Due: pytest

State the candidate-pool count as ~forty (39) with the counting rule (#769)
  thesis/qmd/src/04-02-state-space.qmd
Due: none

Align 06-03's correlation aside with Section 5.3.5's tiering (#775)
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Point Table 4's note at the per-step figures as the comparable unit (#767)
  thesis/qmd/src/06-00-results.qmd
Due: none

Read undefined volume_change (zero prior volume) as no change (#670)
  src/trading_rl/features/volume_features.py
  tests/test_basic_feature_formulas.py
  tests/test_volume_features_exact.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Convert hardcoded chapter references to native Quarto crossrefs
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/01-02-thesis-organization.qmd
  thesis/qmd/src/02-00-literature-review.qmd
  thesis/qmd/src/02-02-market-microstructure-mechanisms.qmd
  thesis/qmd/src/02-04-competing-modeling-approaches.qmd
  thesis/qmd/src/02-05-reinforcement-learning-for-trading.qmd
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/03-00-reinforcement-learning.qmd
  thesis/qmd/src/03-02-actor-critic-methods.qmd
  thesis/qmd/src/04-00-design-of-the-trading-agent.qmd
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/04-04-value-function.qmd
  thesis/qmd/src/04-05-policy.qmd
  thesis/qmd/src/04-06-discount-factor.qmd
  thesis/qmd/src/04-07-optimization-hyperparameters.qmd
  thesis/qmd/src/05-00-implementation.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-00-conclusions.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-03-implications-for-trading-systems.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/crossref_hardcoding.py
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/pracamgrwne.cls
Due: none

Convert hardcoded chapter references to native Quarto crossrefs (#785)
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/01-02-thesis-organization.qmd
  thesis/qmd/src/02-00-literature-review.qmd
  thesis/qmd/src/02-02-market-microstructure-mechanisms.qmd
  thesis/qmd/src/02-04-competing-modeling-approaches.qmd
  thesis/qmd/src/02-05-reinforcement-learning-for-trading.qmd
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/03-00-reinforcement-learning.qmd
  thesis/qmd/src/03-02-actor-critic-methods.qmd
  thesis/qmd/src/04-00-design-of-the-trading-agent.qmd
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/04-03-reward-function.qmd
  thesis/qmd/src/04-04-value-function.qmd
  thesis/qmd/src/04-05-policy.qmd
  thesis/qmd/src/04-06-discount-factor.qmd
  thesis/qmd/src/04-07-optimization-hyperparameters.qmd
  thesis/qmd/src/05-00-implementation.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-00-conclusions.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-03-implications-for-trading-systems.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/crossref_hardcoding.py
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/pracamgrwne.cls
Due: none

Fix four low-risk audit issues: #769, #775, #767, #670 (#784)
  src/trading_rl/features/volume_features.py
  tests/test_basic_feature_formulas.py
  tests/test_volume_features_exact.py
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Read nested training.<algo>.* block in the thesis hyperparam exporter (#774)
  scripts/export_eval_to_thesis.py
  tests/test_export_eval_to_thesis.py
Due: pytest

Regenerate H1 TD3 hyperparams snapshot with the four nested fields (#774)
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
Due: none

Expose bootstrap-resample attrition instead of hiding it (#669)
  src/trading_rl/evaluation/statistical_test_registry.py
  tests/test_statistical_test_registry.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Expose bootstrap-resample attrition in the Sortino/Sharpe tests (#669) (#802)
  src/trading_rl/evaluation/statistical_test_registry.py
  tests/test_statistical_test_registry.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add the AI-use declaration for the thesis
  docs/masters_thesis/ai-declaration.md
Due: none

Add the AI-use declaration for the thesis (#803)
  docs/masters_thesis/ai-declaration.md
Due: none

Name the H3 saturation bounds in the H4 argument (#787)
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Fix four LOW-severity coherence findings (#798-#801)
  src/configs/experiment_sets/full.yaml
  src/masters_thesis/experiments.py
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix four LOW-severity coherence findings (#798-#801) (#805)
  src/configs/experiment_sets/full.yaml
  src/masters_thesis/experiments.py
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add thesis-hardcoded-value-auditor agent
  .claude/agents/thesis-hardcoded-value-auditor.md
  .dsh/skills/thesis-hardcoded-value-auditor/SKILL.md
Due: none

Add thesis-hardcoded-value-auditor agent (#806)
  .claude/agents/thesis-hardcoded-value-auditor.md
  .dsh/skills/thesis-hardcoded-value-auditor/SKILL.md
Due: none

Teach thesis-hardcoded-value-auditor formatting fidelity and wiring mechanism
  .claude/agents/thesis-hardcoded-value-auditor.md
  .dsh/skills/thesis-hardcoded-value-auditor/SKILL.md
Due: none

Teach thesis-hardcoded-value-auditor formatting fidelity and wiring mechanism (#807)
  .claude/agents/thesis-hardcoded-value-auditor.md
  .dsh/skills/thesis-hardcoded-value-auditor/SKILL.md
Due: none

Correct bar size in Sortino discussion: four-minute -> one-minute
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Correct bar size in Sortino discussion: four-minute -> one-minute (#808)
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Harden thesis-hardcoded-value-auditor against false STALE findings
  .claude/agents/thesis-hardcoded-value-auditor.md
  .dsh/skills/thesis-hardcoded-value-auditor/SKILL.md
Due: none

Harden thesis-hardcoded-value-auditor against false STALE findings (#809)
  .claude/agents/thesis-hardcoded-value-auditor.md
  .dsh/skills/thesis-hardcoded-value-auditor/SKILL.md
Due: none

Resolve algorithm crossrefs written inside pseudocode fences
  tests/test_pseudocode_crossrefs.py
  thesis/qmd/src/_extensions/README.md
  thesis/qmd/src/_extensions/leovan/pseudocode/pseudocode.lua
Due: pytest

Fix nested TD3 hyperparam read in the thesis exporter (#774) (#786)
  scripts/export_eval_to_thesis.py
  tests/test_export_eval_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
Due: pytest

Name the H3 saturation bounds in the H4 argument (#787) (#804)
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Resolve algorithm crossrefs written inside pseudocode fences (#810)
  tests/test_pseudocode_crossrefs.py
  thesis/qmd/src/_extensions/README.md
  thesis/qmd/src/_extensions/leovan/pseudocode/pseudocode.lua
Due: pytest

Wire H1 result figures in prose to generated LaTeX macros
  .gitignore
  scripts/generate_thesis_value_macros.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/_quarto.yml
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
