Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Fix: use configurable periods_per_year in StrategyEvaluator and evaluate command
  src/cli/commands/evaluate_command.py
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: PPO _evaluate uses _eval_env when set, warns when falling back to training env
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: move \quad inside math blocks so pseudocode.js parses TD3 and DDPG
  thesis/qmd/src/05-02-code.qmd
Due: none

Fix: _performance_summary CAGR uses log-space formula to prevent inf overflow
  src/trading_rl/evaluation/statistical_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: include initial NLV in broker returns
  src/trading_rl/evaluation/returns.py
  tests/test_evaluation_returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: avoid fake returns for shaped rewards
  src/trading_rl/evaluation/evaluator.py
  tests/test_strategy_evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: tolerate missing statistical test seed
  src/trading_rl/evaluation/statistical_test_registry.py
  tests/test_statistical_benchmark_extensions.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Perf: speed up CI by dropping LaTeX install and adding pip cache
  .github/workflows/publish.yml
Due: none

Fix: move \; inside math blocks to fix remaining pseudocode.js parse errors
  thesis/qmd/src/05-02-code.qmd
Due: none

Feat: conditional PDF rendering in CI based on changed source files
  .github/workflows/publish.yml
Due: none

Fix: compound simple returns before plotting
  src/trading_rl/trainers/base.py
  tests/test_actual_returns_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: enforce typed return semantics
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/report.py
  src/trading_rl/evaluation/returns.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/trainers/base.py
  src/trading_rl/utils.py
  tests/test_actual_returns_benchmarks.py
  tests/test_evaluation_returns.py
  tests/test_strategy_evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: move \texttt{frames_per_batch} into math mode in PPO algorithm block
  thesis/qmd/src/05-02-code.qmd
Due: none

Fix: wait for MathJax before rendering pseudocode
  thesis/qmd/src/_extensions/leovan/pseudocode/pseudocode.lua
Due: none

Docs: update README and docs for component-file scenario config layout
  README.md
  docs/experiment_workflow.md
  docs/feature_pipeline.md
  docs/training_pipeline.md
  src/trading_rl/README.md
Due: none

Fix: prevent MathJax from processing raw .pseudocode divs before pseudocode.js
  thesis/qmd/src/_extensions/leovan/pseudocode/pseudocode.lua
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: assign dedicated eval env to prevent SyncDataCollector corruption
  src/trading_rl/pipeline/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: increment pseudocode HTML counter unconditionally, not only when label is set
  thesis/qmd/src/_extensions/leovan/pseudocode/pseudocode.lua
Due: none

Add docs-writer skill
  .claude/skills/docs-writer/skill.md
Due: none

Remove default placeholder scenario and orphan btc/td3_tradingenv.yaml
  src/configs/scenarios/btc/td3_tradingenv.yaml
  src/configs/scenarios/default/evaluate.yaml
  src/configs/scenarios/default/features.yaml
  src/configs/scenarios/default/train.yaml
Due: none

Remove aapl/td3_hft_lob_l5_active scenario
  src/configs/scenarios/aapl/td3_hft_lob_l5_active/features.yaml
  src/configs/scenarios/aapl/td3_hft_lob_l5_active/train.yaml
Due: none

Remove pooled/td3_hft_lob_state_space_pooled_streaming scenario
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming/evaluate.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming/features.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming/train.yaml
Due: none

Remove sine_wave/baseline scenario
  src/configs/scenarios/sine_wave/baseline/train.yaml
Due: none

Remove sine_wave/ppo_no_trend scenario
  src/configs/scenarios/sine_wave/ppo_no_trend/train.yaml
Due: none

Fix smoke test: update ppo_no_trend path to ppo_no_trend_tradingenv
  tests/test_generated_data_experiments_smoke.py
Due: pytest

Remove synthetic/white_noise_no_trend_ppo scenario
  src/configs/scenarios/synthetic/white_noise_no_trend_ppo/train.yaml
Due: none

Remove btc/td3_minimal and btc/td3_optimized scenarios
  src/configs/scenarios/btc/td3_minimal/features.yaml
  src/configs/scenarios/btc/td3_minimal/train.yaml
  src/configs/scenarios/btc/td3_optimized/features.yaml
  src/configs/scenarios/btc/td3_optimized/train.yaml
Due: none

Remove btc/td3_tradingenv_all_features scenario
  src/configs/scenarios/btc/td3_tradingenv_all_features/features.yaml
  src/configs/scenarios/btc/td3_tradingenv_all_features/train.yaml
Due: none

Remove aapl/td3_hft_lob scenario
  src/configs/scenarios/aapl/td3_hft_lob/evaluate.yaml
  src/configs/scenarios/aapl/td3_hft_lob/features.yaml
  src/configs/scenarios/aapl/td3_hft_lob/train.yaml
Due: none

Apply selected feature set to pooled DDPG and PPO scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/features.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/observation.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming/features.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming/observation.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming/train.yaml
Due: none

Remove aapl scenario group; update doc references to pooled
  README.md
  docs/comparison.md
  docs/ddpg_implementation_overview.md
  docs/feature_pipeline.md
  docs/ppo_implementation_overview.md
  docs/td3_implementation_overview.md
  src/configs/scenarios/aapl/ddpg_hft_lob_state_space/evaluate.yaml
  src/configs/scenarios/aapl/ddpg_hft_lob_state_space/features.yaml
  src/configs/scenarios/aapl/ddpg_hft_lob_state_space/train.yaml
  src/configs/scenarios/aapl/ppo_hft_lob_state_space/evaluate.yaml
  src/configs/scenarios/aapl/ppo_hft_lob_state_space/features.yaml
  src/configs/scenarios/aapl/ppo_hft_lob_state_space/train.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space/evaluate.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space/features.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space/train.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space_streaming/evaluate.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space_streaming/features.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space_streaming/train.yaml
Due: none

Update run_all_scenarios.sh to current scenario list
  scripts/run_all_scenarios.sh
Due: none

Migrate feature configs from features/ to feature_sets/ and observation.yaml
  src/configs/feature_sets/all_features.yaml
  src/configs/feature_sets/btc_minimal_features.yaml
  src/configs/feature_sets/btc_optimized_features.yaml
  src/configs/feature_sets/btc_with_volume.yaml
  src/configs/feature_sets/feature_groups.yaml
  src/configs/feature_sets/hft_baseline.yaml
  src/configs/feature_sets/hft_lob_features.yaml
  src/configs/feature_sets/hft_lob_features_all.yaml
  src/configs/feature_sets/hft_lob_features_causal.yaml
  src/configs/feature_sets/hft_lob_features_extended.yaml
  src/configs/feature_sets/hft_lob_features_selected.yaml
  src/configs/feature_sets/hft_lob_features_state_space.yaml
  src/configs/feature_sets/hft_lob_features_state_space_rolling.yaml
  src/configs/feature_sets/hft_lob_l5_active.yaml
  src/configs/feature_sets/liquidity_alpha.yaml
  src/configs/feature_sets/mft_baseline.yaml
  src/configs/feature_sets/sine_wave_ohlv_passthrough.yaml
  src/configs/feature_sets/sine_wave_price_action.yaml
  src/configs/feature_sets/upward_trend_only.yaml
  src/configs/feature_sets/upward_trend_with_return.yaml
  src/configs/feature_sets/volatility_regime.yaml
  src/configs/scenarios/btc/ppo_tradingenv_all_features/observation.yaml
  src/configs/scenarios/btc/ppo_tradingenv_all_features_log_return/observation.yaml
  src/configs/scenarios/btc/td3_tradingenv/observation.yaml
  src/configs/scenarios/btc/td3_tradingenv_reduced_features/observation.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/observation.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_continuous/observation.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_tradingenv/observation.yaml
  src/configs/scenarios/sine_wave/ppo_tradingenv_ohlcv_only/observation.yaml
  src/configs/scenarios/sine_wave/td3_no_trend_tradingenv/observation.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_all_features/observation.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_ohlcv_price_action/observation.yaml
  src/configs/scenarios/synthetic/upward_trend_ddpg_tradingenv/features.yaml
  src/configs/scenarios/synthetic/upward_trend_ddpg_tradingenv/observation.yaml
  src/configs/scenarios/synthetic/upward_trend_td3_tradingenv/features.yaml
  src/configs/scenarios/synthetic/upward_trend_td3_tradingenv/observation.yaml
Due: none

Update CLI, docs, examples, and scripts for component-file scenario layout
  docs/data_guide.md
  docs/experiment_workflow.md
  docs/hft_features.md
  examples/enhanced_feature_selection_demo.py
  examples/fetch_stock_data.py
  scripts/migrate_scenario_configs.py
  scripts/quick_tradingenv_test.sh
  src/cli/commands/base_command.py
  src/configs/feature_research/aapl_hft_lob_state_space.yaml
  src/configs/feature_research/pooled_daily_hft_lob.yaml
  src/trading_rl/config.py
  src/trading_rl/features/groups.py
  src/trading_rl/features/pipeline.py
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor feature cache to remove split sizes from key, add filter_lob_levels
  src/trading_rl/data_utils.py
  src/trading_rl/feature_research/service.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: update test_algorithms_backends to use current scenario paths
  tests/test_algorithms_backends.py
Due: pytest

Add karpathy-coder and data-quality-auditor skills
  .claude/skills/data-quality-auditor/.claude-plugin/plugin.json
  .claude/skills/data-quality-auditor/SKILL.md
  .claude/skills/data-quality-auditor/references/data-quality-concepts.md
  .claude/skills/data-quality-auditor/scripts/data_profiler.py
  .claude/skills/data-quality-auditor/scripts/missing_value_analyzer.py
  .claude/skills/data-quality-auditor/scripts/outlier_detector.py
  .claude/skills/karpathy-coder/.claude-plugin/plugin.json
  .claude/skills/karpathy-coder/README.md
  .claude/skills/karpathy-coder/SKILL.md
  .claude/skills/karpathy-coder/agents/karpathy-reviewer.md
  .claude/skills/karpathy-coder/commands/karpathy-check.md
  .claude/skills/karpathy-coder/expected_outputs/assumption_linter.json
  .claude/skills/karpathy-coder/expected_outputs/complexity_checker.json
  .claude/skills/karpathy-coder/expected_outputs/diff_surgeon.json
  .claude/skills/karpathy-coder/expected_outputs/goal_verifier.json
  .claude/skills/karpathy-coder/hooks/karpathy-gate.sh
  .claude/skills/karpathy-coder/references/anti-patterns.md
  .claude/skills/karpathy-coder/references/enforcement-patterns.md
  .claude/skills/karpathy-coder/references/karpathy-principles.md
  .claude/skills/karpathy-coder/scripts/assumption_linter.py
  .claude/skills/karpathy-coder/scripts/complexity_checker.py
  .claude/skills/karpathy-coder/scripts/diff_surgeon.py
  .claude/skills/karpathy-coder/scripts/goal_verifier.py
Due: none

Add southerner persona skill
  .claude/skills/southerner/SKILL.md
Due: none

Rename profiler stage names: evaluation_all_splits → eval_all_splits, (split) suffix → _split
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
