Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Add NLV cross-validation: compare broker NLV vs rollout-derived NLV on every eval
  src/trading_rl/evaluation/report.py
  src/trading_rl/evaluation/returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Make NLV cross-validation opt-in via cross_validate=False default
  src/trading_rl/evaluation/report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix portfolio_value log showing partial-episode NLV during streaming training
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Log NLV step count alongside portfolio_value to clarify episode coverage
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add policy mode to Portfolio Value plot caption
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Rename plots/all_vars and plots/selected_vars to all_features and selected_features
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix selected_features folder missing from transformed data overview
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add long_pct, short_pct, mean_exposure to episode log
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Log symbol and date range of current training episode
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Store symbol name in MemmapPaths and log it in training episode context
  src/trading_rl/data/preparation.py
  src/trading_rl/data_loading.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Use ISO 8601 timestamps and date_range= label in episode log
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove dash separator between episode date range timestamps
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Color temp eval complete log values and rename elapsed= to elapsed_s=
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add max_plot_points to downsample large series in evaluation plots
  src/trading_rl/config.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
  tests/test_actual_returns_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Set default max_plot_points to 50k
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Color all values in episode log line including datetimes and symbol
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Unify log value color to bright cyan across all trainers
  src/logger/utils.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/runtime_hooks.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Color eval log values in ddpg/td3/ppo trainers
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove manual ANSI coloring from trainers, rely on auto-colorizer everywhere
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/runtime_hooks.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix number colorization in messages with path args, rename elapsed_s, bump temp_eval_max_steps to 50k
  src/logger/core.py
  src/trading_rl/config.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Apply thesis_theme to all plots across the project
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/evaluation/explainability.py
  src/trading_rl/plotting.py
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add obs_clip dotted hlines to feature time-series plots
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove merged comparison plot from thesis PDF sections
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Fix duplicate LoT entries for Tables 12 and 13
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Move PPO action probability plot legend to bottom via thesis_theme default
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove robustness assessment section from thesis (placeholder content)
  thesis/qmd/src/masters-thesis.qmd
Due: none

Put experiment snapshot table on separate landscape page in thesis
  thesis/qmd/src/06-00-results.qmd
Due: none

Add DDPG pooled streaming scenario with 5k train/val/test steps
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k/observation.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_5k/train.yaml
Due: none

Allow larger prepared cache to serve smaller split-size requests
  src/trading_rl/data/cache.py
  src/trading_rl/data/preparation.py
  tests/test_streaming_evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Slice train_df to train_size in per-day mode and cache-hit path
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix landscape page: use {=latex} raw blocks instead of bare LaTeX commands
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix periods_per_year annualization for HFT tick data
  src/trading_rl/evaluation/report.py
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add jinja2 for thesis table rendering
  pyproject.toml
  uv.lock
Due: none

Use uv environment for thesis publishing
  .github/workflows/publish.yml
Due: none

Pin publish workflow Python version
  .github/workflows/publish.yml
Due: none

Fix periods_per_year in evaluate command for HFT tick data
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add return semantics evaluation tests
  tests/test_evaluation_returns.py
Due: pytest

Add evaluation report return tests
  tests/test_evaluation_report.py
Due: pytest

Add prepared cache compatibility tests
  tests/test_streaming_evaluation.py
Due: pytest

Add evaluate command split tests
  tests/cli/test_evaluate_command.py
Due: pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
