Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

changes to workflow of mlflow
  src/configs/sine_wave_ppo_no_trend_tradingenv.yaml
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

refactor: remove fragile filename-based feature skipping logic
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

refactor: remove redundant feature_pct_chng feature
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

refactor: rename feature_return to feature_log_return for clarity
  src/configs/btc_td3_tradingenv.yaml
  src/configs/sine_wave_ppo_no_trend_continuous.yaml
  src/configs/sine_wave_ppo_no_trend_tradingenv.yaml
  src/configs/sine_wave_td3_no_trend_tradingenv.yaml
  src/configs/upward_trend_ddpg_tradingenv.yaml
  src/configs/upward_trend_td3_tradingenv.yaml
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

refactor: rename feature_volume to feature_log_volume for clarity
  src/configs/btc_td3_tradingenv.yaml
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: implement flexible feature engineering system
  examples/feature_engineering_demo.py
  src/trading_rl/features/README.md
  src/trading_rl/features/__init__.py
  src/trading_rl/features/base.py
  src/trading_rl/features/pipeline.py
  src/trading_rl/features/price_features.py
  src/trading_rl/features/registry.py
  src/trading_rl/features/volume_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Merge feature docs into trading_rl README
  src/trading_rl/README.md
  src/trading_rl/features/README.md
Due: none

docs: add comprehensive feature engineering guides
  docs/FEATURE_ENGINEERING_GUIDE.md
  docs/FEATURE_QUICK_REFERENCE.md
Due: none

refactor: remove extra documentation and demo script
  docs/FEATURE_ENGINEERING_GUIDE.md
  docs/FEATURE_QUICK_REFERENCE.md
  examples/feature_engineering_demo.py
Due: none

feat: add 20 TA-Lib technical indicators as features
  src/trading_rl/features/__init__.py
  src/trading_rl/features/talib_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

docs: add comprehensive feature reference with required columns and YAML config examples
  src/trading_rl/features/README.md
Due: none

feat: add 8 pre-configured feature YAML files
  README.md
  scripts/check_yaml_data_consistency.py
  scripts/debug_td3_learning.py
  src/cli.py
  src/cli/commands/data_generator_command.py
  src/cli/commands/experiment_command.py
  src/configs/features/README.md
  src/configs/features/minimal.yaml
  src/configs/features/momentum.yaml
  src/configs/features/moving_averages.yaml
  src/configs/features/multi_timeframe.yaml
  src/configs/features/price_action.yaml
  src/configs/features/technical_suite.yaml
  src/configs/features/volatility.yaml
  src/configs/features/volume.yaml
  src/configs/scenarios/btc_td3_tradingenv.yaml
  src/configs/scenarios/default.yaml
  src/configs/scenarios/forex_dqn_dsr.yaml
  src/configs/scenarios/mean_reversion.yaml
  src/configs/scenarios/models.yaml
  src/configs/scenarios/sine_wave.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend_continuous.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend_tradingenv.yaml
  src/configs/scenarios/sine_wave_ppo_trend.yaml
  src/configs/scenarios/sine_wave_td3_no_trend.yaml
  src/configs/scenarios/sine_wave_td3_no_trend_tradingenv.yaml
  src/configs/scenarios/upward_trend_ddpg.yaml
  src/configs/scenarios/upward_trend_ddpg_tradingenv.yaml
  src/configs/scenarios/upward_trend_ppo.yaml
  src/configs/scenarios/upward_trend_td3_tradingenv.yaml
  src/configs/scenarios/white_noise_no_trend_ppo.yaml
  src/trading_rl/callbacks/mlflow_callback.py
  tests/test_algorithms_backends.py
  tests/test_continuous_ppo.py
  tests/test_manual_training_repro.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

refactor: create feature configs based on actual scenarios
  README.md
  src/configs/features/README.md
  src/configs/features/btc_with_volume.yaml
  src/configs/features/minimal.yaml
  src/configs/features/momentum.yaml
  src/configs/features/moving_averages.yaml
  src/configs/features/multi_timeframe.yaml
  src/configs/features/price_action.yaml
  src/configs/features/sine_wave_price_action.yaml
  src/configs/features/technical_suite.yaml
  src/configs/features/upward_trend_only.yaml
  src/configs/features/upward_trend_with_return.yaml
  src/configs/features/volatility.yaml
  src/configs/features/volume.yaml
  tests/test_algorithms_backends.py
Due: pytest

refactor: extract data_generator sections to separate configs/data/ files
  src/configs/scenarios/forex_dqn_dsr.yaml
  src/configs/scenarios/mean_reversion.yaml
  src/configs/scenarios/models.yaml
  src/configs/scenarios/sine_wave.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend_continuous.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend_tradingenv.yaml
  src/configs/scenarios/sine_wave_ppo_trend.yaml
  src/configs/scenarios/sine_wave_td3_no_trend.yaml
  src/configs/scenarios/sine_wave_td3_no_trend_tradingenv.yaml
  src/configs/scenarios/upward_trend_ddpg.yaml
  src/configs/scenarios/upward_trend_ddpg_tradingenv.yaml
  src/configs/scenarios/upward_trend_ppo.yaml
  src/configs/scenarios/upward_trend_td3_tradingenv.yaml
  src/configs/scenarios/white_noise_no_trend_ppo.yaml
Due: none

feat: add data_config reference field to all scenario configs
  src/configs/scenarios/mean_reversion.yaml
  src/configs/scenarios/sine_wave.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend_continuous.yaml
  src/configs/scenarios/sine_wave_ppo_no_trend_tradingenv.yaml
  src/configs/scenarios/sine_wave_ppo_trend.yaml
  src/configs/scenarios/sine_wave_td3_no_trend.yaml
  src/configs/scenarios/sine_wave_td3_no_trend_tradingenv.yaml
  src/configs/scenarios/upward_trend_ddpg.yaml
  src/configs/scenarios/upward_trend_ddpg_tradingenv.yaml
  src/configs/scenarios/upward_trend_ppo.yaml
  src/configs/scenarios/upward_trend_td3_tradingenv.yaml
  src/configs/scenarios/white_noise_no_trend_ppo.yaml
Due: none

added data generator templates
  src/configs/data/mean_reversion.yaml
  src/configs/data/sine_wave_large.yaml
  src/configs/data/sine_wave_standard.yaml
  src/configs/data/sine_wave_with_trend.yaml
  src/configs/data/upward_drift_large.yaml
  src/configs/data/upward_drift_standard.yaml
  src/configs/data/upward_drift_strong.yaml
  src/configs/data/white_noise.yaml
  src/configs/features/README.md
Due: none

Add data generate subcommand
  README.md
  gendata
  src/cli.py
  src/trading_rl/README.md
  src/trading_rl/features/README.md
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Unify train and experiment CLI
  README.md
  scripts/run_all_scenarios.sh
  src/cli.py
  src/cli/commands/experiment_command.py
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove extra train CLI options
  scripts/run_all_scenarios.sh
  src/cli.py
  src/cli/commands/experiment_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

feat: implement FeaturePipeline integration to eliminate lookahead bias
  src/trading_rl/data_utils.py
  src/trading_rl/features/__init__.py
  src/trading_rl/features/pipeline.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
