Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Add H2 H3 robustness verdicts
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Narrow performance evaluation verdict
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Preserve small result magnitudes in thesis tables
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Differentiate benchmark lines by linetype in equity curve plots; disable Max Profit
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Align conclusion with exported results
  thesis/qmd/src/07-00-conclusions.qmd
Due: none

Omit unstable CAGR from thesis tables
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Remove CAGR from performance display
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Remove CAGR from HFT reporting
  scripts/h1_performance_report.py
  scripts/h3_sensitivity_report.py
  src/cli/commands/collect_results_command.py
  src/cli/commands/evaluate_command.py
  src/cli/commands/training_command.py
  src/trading_rl/evaluation/benchmark_table.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Wire appendix spec table to exported scenario config snapshot
  scripts/export_eval_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/hyperparams.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/positions.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/plots/rewards.png
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/statistical_tests.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Add automated test suite mention to sanity checks section
  thesis/qmd/src/05-02-code.qmd
Due: none

Skip CAGR for intraday metrics
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  tests/test_evaluation_metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Document experiment compute environment
  thesis/qmd/src/99-appendix.qmd
Due: none

Replace BenchmarksConfig boolean flags with enabled: list[BenchmarkName]
  src/configs/scenarios/btc/td3_tradingenv/evaluate.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/trading_rl/config.py
  src/trading_rl/evaluation/benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix invalid linestyle names in LINETYPE dict
  src/trading_rl/evaluation/thesis_theme.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: restore DSR moments after TradingEnv.reset() zeroes them unconditionally
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test HFT reporting excludes CAGR
  tests/test_hft_metric_reporting.py
Due: pytest

Fix: distinguish terminated (bankruptcy) from truncated (data exhaustion) in GymnasiumTradingEnvWrapper
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix antipatterns: PPO replay buffer, wildcard shim, double bare-except
  src/trading_rl/data_utils.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: add _prepared_cache_compatible to data_utils shim
  src/trading_rl/data_utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: don't overwrite _use_replay_buffer if subclass set it before super().__init__()
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test thesis result export
  tests/test_pipeline_smoke.py
Due: pytest

Rename actual_returns artifact to equity_curve
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add equity progression plot for temp eval checkpoints
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/runtime_hooks.py
  src/trading_rl/utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test trading environment routing
  tests/test_trading_envs.py
Due: pytest

Fix equity progression plot: store ReturnSeries not ndarray
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Format progression plot legend ticks as Nk (e.g. 100k, 500k)
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Transpose input schema table to landscape orientation
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Update workflow.d2: document multi-symbol shuffle and fix feature dims
  docs/workflow.d2
  docs/workflow.svg
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: return MetricReport.all_nan() instead of {} for tiny splits in evaluator
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add H4 learning progression experiments and thesis integration
  scripts/h4_learning_progression_report.py
  scripts/run_h4_experiments.sh
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Fetch and display learning progression plot in H4
  scripts/h4_learning_progression_report.py
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Fix: add SHORT_AND_HOLD support to calculate_benchmark_dsr
  src/trading_rl/evaluation/benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Show learning progression plot once in Results chapter
  scripts/h4_learning_progression_report.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Fix: PPO optimizer uses separate weight_decay for actor/critic; ReturnSeries rescales equity; PPO plots reset on done
  src/trading_rl/evaluation/returns.py
  src/trading_rl/trainers/ppo.py
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DSR clip before scale; TimeWeightedRunningMeanStd raises on unfitted transform; RSI uses Wilder smoothing
  src/trading_rl/features/base.py
  src/trading_rl/features/price_features.py
  src/trading_rl/rewards/differential_sharpe.py
  tests/test_running_scalers.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: add fig label to RL taxonomy mermaid diagram so it appears in List of Figures
  thesis/qmd/src/03-01-rl-categories.qmd
Due: none

Fix: rename learning_progression label to fig-learning-progression for LOF registration
  thesis/qmd/src/06-00-results.qmd
Due: none

Add source attribution to algorithm properties table caption
  thesis/qmd/src/03-02-actor-critic-methods.qmd
Due: none

Fix: aggregate sub-daily returns to reporting frequency before Sharpe/Sortino
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/evaluation/statistical_benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
