Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Fix: Sortino and Sharpe use raw returns instead of excess returns in statistical_benchmarks.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/evaluation/statistical_tests.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix evaluation report benchmark alignment
  src/trading_rl/evaluation/report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix actual returns benchmark alignment
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix base trainer benchmark alignment
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: time-weighted normalization guard condition
  .claude/skills/d2-workflow/__init__.py
  .claude/skills/d2-workflow/skill.md
  memory/MEMORY.md
  src/trading_rl/features/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: time-weighted normalization guard condition
  .claude/skills/d2-workflow/__init__.py
  .claude/skills/d2-workflow/skill.md
  PIT-38-18-2025-Zeznanie-o-wysokoci-osignitego-dochodu-poniesionej-straty.pdf
  memory/MEMORY.md
  src/trading_rl/features/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix TD3 benchmark alignment
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test benchmark transition alignment
  tests/test_statistical_benchmark_extensions.py
Due: pytest

Test actual returns benchmark alignment
  tests/test_actual_returns_benchmarks.py
Due: pytest

Fix: rolling normalization includes current observation
  src/trading_rl/features/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: streaming environments never sample final valid window
  src/trading_rl/envs/streaming_env.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: episode metrics use skipped MLflow step numbers
  src/trading_rl/callbacks/mlflow_callback.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add: comprehensive unit tests for core numerical logic
  tests/test_build_metric_report_edge_cases.py
  tests/test_running_scalers.py
Due: pytest

Add StrategyEvaluator service: decouples evaluation from training
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Simplify TD3Trainer.evaluate() to delegate to BaseTrainer
  .claude/plans/strategy-evaluator-refactor.md
  fix_td3_evaluate.py
  src/trading_rl/trainers/td3.py
  tmp_fix_ppo.py
  tmp_refactor_ppo.py
  tmp_refactor_td3.py
  tmp_remove_td3_eval.py
  tmp_simple_ppo.py
  tmp_write_ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix EvaluationConfig and BaseTrainer integration
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Clean up temporary files from evaluation refactoring
  fix_td3_evaluate.py
  tmp_fix_ppo.py
  tmp_refactor_ppo.py
  tmp_refactor_td3.py
  tmp_remove_td3_eval.py
  tmp_simple_ppo.py
  tmp_write_ppo.py
Due: none

Add: portable checkpoint metadata and PolicyLoader for standalone evaluation
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/policy_loader.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: use trainer instance attrs for hidden_dims in checkpoints
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix evaluation env reuse
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/trainers/base.py
  tests/test_strategy_evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: decouple benchmark computation from env via BenchmarkSpec/BenchmarkEngine
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/evaluation/statistical_tests.py
  src/trading_rl/pipeline/evaluation.py
  tests/test_statistical_benchmark_extensions.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: evaluate_all_splits always skipped real splits; build_metric_report missing actions
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add: standalone evaluate CLI command
  src/cli.py
  src/cli/commands/__init__.py
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add: MLflow logging to standalone evaluate command
  src/cli.py
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: command-centric per-scenario config folder structure
  src/cli/commands/base_command.py
  src/cli/commands/evaluate_command.py
  src/cli/commands/experiment_command.py
  src/cli/commands/training_command.py
  src/configs/scenarios/btc/td3_tradingenv/evaluate.yaml
  src/configs/scenarios/btc/td3_tradingenv/train.yaml
  src/configs/scenarios/default/evaluate.yaml
  src/configs/scenarios/default/train.yaml
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: split benchmark selection out of StatisticalTestingConfig
  src/cli/commands/evaluate_command.py
  src/configs/scenarios/btc/td3_tradingenv/evaluate.yaml
  src/configs/scenarios/default/evaluate.yaml
  src/trading_rl/config.py
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/pipeline/evaluation.py
  tests/test_statistical_benchmark_extensions.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: use uv venv kernel for Quarto rendering
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Refactor: move [VERIFIED]/[PLACEHOLDER] out of headings into comments
  thesis/qmd/src/01-00-introduction.qmd
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/01-02-thesis-organization.qmd
  thesis/qmd/src/02-00-literature-review.qmd
  thesis/qmd/src/02-01-tick-level-order-book-trading.qmd
  thesis/qmd/src/02-02-market-microstructure-mechanisms.qmd
  thesis/qmd/src/02-03-from-signals-to-decisions.qmd
  thesis/qmd/src/02-04-competing-modeling-approaches.qmd
  thesis/qmd/src/02-05-reinforcement-learning-for-trading.qmd
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/02-07-applied-rl-trading-evidence.qmd
  thesis/qmd/src/02-08-implications-for-this-thesis.qmd
  thesis/qmd/src/03-00-reinforcement-learning.qmd
  thesis/qmd/src/03-01-rl-categories.qmd
  thesis/qmd/src/03-02-actor-critic-methods.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-01-statistical-validation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-00-conclusions.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-03-implications-for-trading-systems.qmd
  thesis/qmd/src/07-04-recommendations-for-practitioners.qmd
  thesis/qmd/src/07-05-conclusion.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: register masters_thesis Jupyter kernel in CI before quarto render
  .github/workflows/publish.yml
Due: none
