Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Add per-day file support: val_data_paths + _build_per_day_splits
  src/configs/feature_research/pooled_daily_hft_lob.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming.yaml
  src/trading_rl/config.py
  src/trading_rl/data_utils.py
  src/trading_rl/feature_research/config.py
  src/trading_rl/feature_research/service.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix negative validation_size in _score_single_symbol cache-key path
  src/trading_rl/feature_research/service.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update thesis to reflect per-day file partitioning architecture
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
Due: none

Add GitHub repository reference to thesis bibliography
  thesis/bibliography/library.bib
  thesis/qmd/src/05-02-code.qmd
Due: none

Fix: rolling IC in selector.py crashes with TypeError on pandas 2.x
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add IC-selected feature config and matching TD3 scenario
  src/configs/features/hft_lob_features_selected.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected.yaml
Due: none

Display training results in side-by-side tables
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add per-file significance counts to feature research table
  src/cli/commands/feature_research_command.py
  src/trading_rl/feature_research/service.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: max_profit benchmark uses |log(price_ratio)| instead of log(|simple_return|+1)
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add comprehensive training run stats to results table
  src/cli/commands/training_command.py
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/experiment_runner.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: periods_per_year uses trading time not calendar time
  src/trading_rl/evaluation/report.py
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Revert: restore calendar-time annualization for 24/7 crypto markets
  src/trading_rl/evaluation/report.py
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: GymnasiumTradingEnvWrapper bankrupt handler crashes on Dict observation space
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: compare_rollouts crashes when rollouts have different lengths
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove eval_* metrics from MLflow Model Metrics
  src/trading_rl/callbacks/artifacts.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add metric legend below training summary table
  src/cli/commands/training_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix metrics and episode tracking; add unit tests
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/trainers/base.py
  tests/test_evaluation_metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add targeted tests for bankrupt handler and compare_rollouts length mismatch
  tests/test_compare_rollouts.py
  tests/test_gymnasium_wrapper.py
Due: pytest

Add IC/ICIR arithmetic and significance count tests for feature research
  tests/test_feature_research_ic_scoring.py
Due: pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
