Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Remove calculate_actual_returns() — unused dead code with incorrect DSR behaviour
  src/trading_rl/evaluation/__init__.py
  src/trading_rl/evaluation/returns.py
  src/trading_rl/utils.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: val_mean_ic and ic_stability wrong in cross-validated composite scores
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: remove bare except from extract_tradingenv_return_series
  src/trading_rl/evaluation/returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove: dead code — create_mlflow_comparison_plots and its unused imports
  src/trading_rl/plotting.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: _build_time_series_cv_splits warning logs wrong original n_splits
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove: dead code — unused imports in train_trading_agent.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: abort training after repeated periodic hook failures
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove: dead code — unused re-exports from trading_rl.__init__
  src/trading_rl/__init__.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: restore MLflowTrainingCallback import in train_trading_agent
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove: dead code — unused imports and unused local variables
  src/cli/commands/dashboard_command.py
  src/cli/commands/data_generator_command.py
  src/cli/commands/experiment_command.py
  src/trading_rl/data/lob_filters.py
  src/trading_rl/data/preparation.py
  src/trading_rl/data_utils.py
  src/trading_rl/features/lob_common.py
  src/trading_rl/features/selector.py
  src/trading_rl/pipeline/experiment_runner.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/simple_continuous_wrapper.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: skip action probabilities plot when no eval env is available
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: StreamingTradingEnvXY.close() was a no-op, leaking inner env resources
  src/trading_rl/envs/tradingenvxy_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Test: _build_pooled_splits and _build_per_day_splits split boundary logic
  tests/test_pooled_and_per_day_splits.py
Due: pytest

Refactor: extract EpisodeStatsTracker from BaseTrainer (Phase 1)
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/episode_stats.py
  tests/test_base_trainer_episode_stats.py
  tests/test_trainer_action_logging.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: extract _signal_guard, inline checkpoint calls (Phase 2)
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: extract _run_evaluation, remove dead methods (Phase 2 cont.)
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: align DSR epsilon default to 1e-8, matching docstring and AnyTrading wrapper
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: sync stale tests to current implementation
  src/cli/commands/evaluate_command.py
  src/trading_rl/features/base.py
  tests/cli/test_evaluate_command.py
  tests/test_build_metric_report_edge_cases.py
  tests/test_continuous_ppo.py
  tests/test_evaluation_report.py
  tests/test_generated_data_experiments_smoke.py
  tests/test_hft_close_derivation.py
  tests/test_manual_training_repro.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: resolve remaining test failures
  src/trading_rl/features/selector.py
  src/trading_rl/rewards/dsr_wrapper.py
  src/trading_rl/train_trading_agent.py
  tests/test_continuous_ppo.py
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: unify config loading behind ExperimentConfig.load()
  src/cli.py
  src/cli/commands/base_command.py
  src/cli/commands/experiment_command.py
  src/cli/commands/feature_research_command.py
  src/cli/commands/peek_command.py
  src/trading_rl/config.py
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix test_ppo_anytrading_forex: short val_df and missing price_column
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
  tests/test_algorithms_backends.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix test_algorithms_backends: MLflow isolation and stale .yaml path
  tests/test_algorithms_backends.py
Due: pytest

Add run_h{1,2,3}_experiments.sh scripts and fix H1 config log dirs
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
  src/configs/h1_performance.yaml
Due: none

H1: switch TD3 to DSR reward for consistent agent comparison
  scripts/run_h1_experiments.sh
  src/configs/h1_performance.yaml
Due: none

H1: replace 5k random baseline with matched 50k/DSR/selected variant
  scripts/run_h1_experiments.sh
  src/configs/h1_performance.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Add diff_scenarios.py — show config diffs across scenarios
  scripts/diff_scenarios.py
Due: none

Add peek-configs command to list recently modified YAML configs
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Convert peek to subgroup with dataset and configs subcommands
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add per-file feature cache to _per_symbol_worker (per-day pooled mode)
  src/trading_rl/data/preparation.py
  tests/test_pooled_and_per_day_splits.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update workflow diagram: split cli_peek into dataset and configs subcommands
  docs/workflow.d2
  docs/workflow.svg
Due: none

Fix: _expected_cached_split_rows ignores memmap_dir — val/test multiplied by n_symbols in streaming mode
  src/trading_rl/data/cache.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: to_dict() now serialises all ExperimentConfig sub-config fields
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: default clip_reward=10.0 in DifferentialSharpeRatioAnyTrading
  src/trading_rl/rewards/dsr_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix src layout so trading_rl is importable without PYTHONPATH hack
  CLAUDE.md
  pyproject.toml
Due: none

Fix: move TorchRL monkey-patch from module-level to lazy function
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: add persist_moments to DifferentialSharpeRatioAnyTrading.reset()
  src/trading_rl/rewards/dsr_wrapper.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Upgrade torch 2.11→2.12, tensordict 0.12.2→0.12.4
  uv.lock
Due: none

Fix: promote log_sample_transitions exception to WARNING level
  src/trading_rl/trainers/episode_stats.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: remove duplicate 90-line docstring block from DifferentialSharpeRatio
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add --parallel flag to run_h{1,2,3}_experiments.sh
  scripts/run_h1_experiments.sh
  scripts/run_h2_experiments.sh
  scripts/run_h3_experiments.sh
Due: none

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
