Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Increase metrics table figure height by 30% to avoid legend overlap
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: _periods_per_year_from_index uses time-span/n_rows for sub-daily data
  src/trading_rl/evaluation/report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: metrics_table legend no longer overlaps table
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add mean/median delta to splits export; switch from CSV to JSON
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/splits.json
  src/cli/commands/peek_command.py
  thesis/qmd/src/05-01-data-preparation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Replace memmap file list with symbol×day event-count inventory
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/feature_stats.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/log_return_stats.csv
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/raw_file_inventory.json
  src/cli/commands/peek_command.py
  thesis/qmd/src/05-01-data-preparation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Redesign raw file inventory: symbol×split with delta stats
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/raw_file_inventory.json
  src/cli/commands/peek_command.py
  thesis/qmd/src/05-01-data-preparation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add trade count to raw file inventory table
  reports/peek/td3_hft_lob_state_space_pooled_streaming_selected/raw_file_inventory.json
  src/cli/commands/peek_command.py
  thesis/qmd/src/05-01-data-preparation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Appendix: remove Feature Group Registry, TD3 diagrams; condense selection procedure
  thesis/qmd/src/99-appendix.qmd
Due: none

Appendix: wrap Specification column at 38 chars in experiment spec table
  thesis/qmd/src/99-appendix.qmd
Due: none

Results: condense return aggregation note; remove placeholder key metrics table
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: none

Results: H2 table uses two sub-rows per scenario (split after Δ Max DD)
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Add 15-second bar tier to reporting frequency ladder
  src/trading_rl/constants.py
  src/trading_rl/evaluation/metrics.py
  thesis/qmd/src/06-03-performance-evaluation.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: use NormalizationMethod enum in cache.py instead of raw strings
  src/trading_rl/data/cache.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Decrease finest reporting bar from 15s to 5s (SEC_5 = 1,179,360 ppy)
  src/trading_rl/constants.py
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: re-raise on replay buffer load failure instead of swallowing exception
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: count NaN-reward and shape-mismatch skips in skipped_batches
  src/trading_rl/trainers/td3.py
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add tests for trading env reward wiring
  tests/test_trading_envs.py
Due: pytest

Doc: clarify DSR scale-before-clip order and saturation threshold
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add tests for feature research target alignment
  tests/test_feature_research_ic_scoring.py
Due: pytest

Fix: guard DSR against NaN/inf NLV to prevent permanent EMA corruption
  src/trading_rl/rewards/differential_sharpe.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: return_kurtosis reports excess kurtosis (subtract 3)
  src/trading_rl/evaluation/metrics.py
  tests/test_build_metric_report_edge_cases.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: HOUR_4 ppy 504 -> 410; derive all sub-daily ppy from named US equity constants
  src/trading_rl/constants.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: residual candidate scoring uses ICIR not plain IC in conditional IC filter
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Remove operational sections from robustness assessment
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Remove descriptive stats table from statistical validation section
  thesis/qmd/src/06-01-statistical-validation.qmd
Due: none

Refactor H2 table: one metric per column, delta on second row
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Fix: window_size=None no longer produces icir=0 for all features
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add test for DSR persisted moments reset
  tests/test_dsr_wrapper.py
Due: pytest

Add test for streaming tradingenv builder config
  tests/test_env_builder.py
Due: pytest

Fix: eval feature cache key includes checkpoint identity
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add test for periodic hook configuration
  tests/test_experiment_runner_branches.py
Due: pytest

Extract QMD table rendering logic into thesis_tables.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_tables.py
Due: none

Fix: align actions array with NaN-filtered returns in metric computation
  src/trading_rl/evaluation/metrics.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: cross_validate_nlv off-by-one — apply all n actions correctly
  src/trading_rl/evaluation/returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: DSR _prev_nlv invalid value causes double zero reward on recovery
  src/trading_rl/rewards/differential_sharpe.py
  src/trading_rl/rewards/dsr_wrapper.py
  tests/test_evaluation_returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: decay DSR benchmark EMAs on invalid portfolio values to avoid post-gap spikes
  src/trading_rl/evaluation/benchmarks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Extract remaining inline QMD logic into thesis_tables / thesis_mlflow_results
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/thesis_mlflow_results.py
  thesis/qmd/src/thesis_tables.py
Due: none

Fix: PPO checkpoint saves and restores functional parameter state dicts
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: PPO syncs functional params to module after each optimizer step
  src/trading_rl/trainers/ppo.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: avoid infinite recursion in _hyperparameter_search when grid is empty
  src/trading_rl/features/selector.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
