Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

Add price_vamp (Volume Adjusted Mid Price) LOB feature
  docs/hft_features.md
  src/configs/features/hft_lob_features.yaml
  src/configs/features/hft_lob_features_extended.yaml
  src/trading_rl/features/__init__.py
  src/trading_rl/features/lob_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Extract training bundle builder
  src/trading_rl/train_trading_agent.py
  tests/test_pipeline_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Extract split evaluation runner helpers
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update pipeline diagrams after refactor
  docs/diagrams/data_pipeline.mmd
  docs/experiment_workflow.md
  docs/prepare_data.md
  thesis/qmd/src/99-appendix.qmd
Due: none

Introduce typed experiment runtime
  src/trading_rl/train_trading_agent.py
  tests/test_pipeline_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add generated-data algorithm smoke tests
  src/trading_rl/trainers/base.py
  tests/test_generated_data_experiments_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Use SQLite MLflow backend in smoke tests
  tests/test_generated_data_experiments_smoke.py
Due: pytest

Fix PPO smoke evaluation path
  src/trading_rl/trainers/ppo.py
  tests/test_generated_data_experiments_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add pipeline helper modules
  src/trading_rl/pipeline/__init__.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix continuous critic inputs and stable CAGR
  src/trading_rl/evaluation/metrics.py
  src/trading_rl/models.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Delegate RL pipeline helpers to modules
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Restore runtime helper exports
  src/trading_rl/train_trading_agent.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reorganize scenario configs into asset-based subfolders
  src/cli.py
  src/configs/scenarios/aapl/td3_hft_lob.yaml
  src/configs/scenarios/aapl/td3_hft_lob_l5_active.yaml
  src/configs/scenarios/aapl/td3_hft_lob_state_space.yaml
  src/configs/scenarios/btc/ppo_tradingenv_all_features.yaml
  src/configs/scenarios/btc/ppo_tradingenv_all_features_log_return.yaml
  src/configs/scenarios/btc/td3_minimal.yaml
  src/configs/scenarios/btc/td3_optimized.yaml
  src/configs/scenarios/btc/td3_tradingenv.yaml
  src/configs/scenarios/btc/td3_tradingenv_all_features.yaml
  src/configs/scenarios/btc/td3_tradingenv_reduced_features.yaml
  src/configs/scenarios/sine_wave/baseline.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_continuous.yaml
  src/configs/scenarios/sine_wave/ppo_no_trend_tradingenv.yaml
  src/configs/scenarios/sine_wave/ppo_tradingenv_ohlcv_only.yaml
  src/configs/scenarios/sine_wave/ppo_trend.yaml
  src/configs/scenarios/sine_wave/td3_no_trend.yaml
  src/configs/scenarios/sine_wave/td3_no_trend_tradingenv.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_all_features.yaml
  src/configs/scenarios/sine_wave/td3_tradingenv_ohlcv_price_action.yaml
  src/configs/scenarios/synthetic/mean_reversion.yaml
  src/configs/scenarios/synthetic/upward_trend_ddpg.yaml
  src/configs/scenarios/synthetic/upward_trend_ddpg_tradingenv.yaml
  src/configs/scenarios/synthetic/upward_trend_ppo.yaml
  src/configs/scenarios/synthetic/upward_trend_td3_tradingenv.yaml
  src/configs/scenarios/synthetic/white_noise_no_trend_ppo.yaml
  src/trading_rl/callbacks/mlflow_callback.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add behavioral guardrails to smoke tests
  tests/test_generated_data_experiments_smoke.py
  tests/test_pipeline_smoke.py
Due: pytest

Fix experiment_name derivation and MLflow lookup for grouped scenarios
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/config.py
  tests/test_algorithms_backends.py
  tests/test_continuous_ppo.py
  tests/test_manual_training_repro.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add cancel-to-trade ratio, multi-level OFI, and VPIN features
  docs/hft_features.md
  src/configs/features/hft_lob_features.yaml
  src/configs/features/hft_lob_features_extended.yaml
  src/trading_rl/features/__init__.py
  src/trading_rl/features/lob_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Wrap smoke tests in named classes
  tests/test_generated_data_experiments_smoke.py
  tests/test_pipeline_smoke.py
Due: pytest

Fall through to scenario resolver when --config path doesn't exist directly
  src/cli/commands/experiment_command.py
  src/cli/commands/feature_research_command.py
  src/cli/commands/training_command.py
  src/cli/commands/validation_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Introduce StrEnum types to replace magic string literals
  src/cli/commands/data_generator_command.py
  src/cli/services/config_validation_service.py
  src/data_generator.py
  src/trading_rl/config.py
  src/trading_rl/constants.py
  src/trading_rl/envs/trading_envs.py
  src/trading_rl/features/base.py
  src/trading_rl/pipeline/training.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add trade arrival rate, large trade ratio, and OFI autocorrelation features
  docs/hft_features.md
  src/configs/features/hft_lob_features_extended.yaml
  src/trading_rl/features/__init__.py
  src/trading_rl/features/lob_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add unit tests for LOB feature compute() logic
  tests/test_lob_features.py
Due: pytest
