Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Add split name to temp eval artifact path; make evaluated splits configurable
  src/trading_rl/config.py
  src/trading_rl/pipeline/experiment_runner.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add temp_eval_max_steps to cap periodic eval rollout length (default 20000)
  src/trading_rl/config.py
  src/trading_rl/pipeline/experiment_runner.py
  thesis/qmd/src/masters_thesis.pdf
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add rollout step verification debug logging in temp eval
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update workflow diagram for changes since stable/2026-05-15
  docs/workflow.d2
  docs/workflow.svg
Due: none

Add datetime range to all evaluation plot captions
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Qualify portfolio plot title/caption when showing a sample from pooled training
  src/trading_rl/evaluation/plots.py
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix stale values in project documentation
  README.md
  docs/comparison.md
  docs/ddpg_implementation_overview.md
  docs/overview.md
  docs/td3_implementation_overview.md
  docs/training_pipeline.md
Due: none

Clean up portfolio plot title and caption
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add reward type to cumulative rewards caption; use ISO datetime in period
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Caption: 'Period' → 'Date range'; merged plot twice as wide
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add val to default temp_eval_splits
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Escape dollar signs in plot text to fix matplotlib mathtext rendering
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Reduce eval plot line width by 20% (0.4 → 0.32)
  src/trading_rl/evaluation/plots.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update thesis values for selected TD3 config
  thesis/qmd/src/04-01-action-space.qmd
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/04-05-policy.qmd
  thesis/qmd/src/04-06-discount-factor.qmd
  thesis/qmd/src/04-07-optimization-hyperparameters.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Guard against inf portfolio values from cross-symbol val_df price jumps
  src/trading_rl/evaluation/plots.py
  src/trading_rl/evaluation/returns.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix cross-symbol price corruption in val/test splits for streaming mode
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add eval_symbol_selection config: first, random, rotated
  src/trading_rl/config.py
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Parallelize per-symbol fit+transform in _build_per_day_splits
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add data.n_workers config knob for parallel feature engineering
  src/trading_rl/config.py
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Forward worker log records to parent via QueueHandler/QueueListener
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Tag worker log messages with [worker X/N] in parallel feature engineering
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add collect-results CLI command for thesis results aggregation
  src/cli.py
  src/cli/commands/__init__.py
  src/cli/commands/collect_results_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add script to run all three thesis experiments in parallel
  scripts/train_all_thesis_experiments.sh
Due: none

Fix DatetimeIndex lost when reconstructing first_train_df from memmap
  src/trading_rl/data/preparation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Save underlying plot data as CSV alongside PNGs in eval_results
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Document TD3 policy collapse limitation
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Document synthetic sine-wave sanity check
  thesis/qmd/src/05-02-code.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix CI hang after eval_plots cell completes
  .github/workflows/publish.yml
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add multitail live log viewer to train_all_thesis_experiments.sh
  scripts/train_all_thesis_experiments.sh
Due: none

Fix bash 3.2 compatibility: replace associative array with case statement
  scripts/train_all_thesis_experiments.sh
Due: none

Fix bash 3.2: replace negative array index with $!
  scripts/train_all_thesis_experiments.sh
Due: none

Add kill capability: trap Ctrl+C and kill_experiments.sh companion script
  scripts/kill_experiments.sh
  scripts/train_all_thesis_experiments.sh
Due: none

Fix multitail: print command instead of launching in background (TUI needs a TTY)
  scripts/train_all_thesis_experiments.sh
Due: none

Give each algo its own MLflow SQLite DB to fix parallel write conflicts
  scripts/train_all_thesis_experiments.sh
Due: none

Add validation_size/test_size to PPO config to match TD3/DDPG cache signature
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Fix periods_per_year inconsistency between strategy and benchmark metrics
  src/trading_rl/evaluation/report.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add evaluation observation sample artifacts
  src/cli/commands/evaluate_command.py
  src/trading_rl/callbacks/__init__.py
  src/trading_rl/callbacks/artifacts.py
  src/trading_rl/callbacks/mlflow_callback.py
  src/trading_rl/pipeline/evaluation.py
  tests/test_observation_sample_artifact.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add NLV calculation verification test
  tests/test_nlv_calculation.py
Due: pytest

Add temporal order, overlap, and split-size checks to DataValidator
  src/cli.py
  src/cli/commands/validate_data_command.py
  src/trading_rl/data/validation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add always-short and variable-weight NLV verification tests
  tests/test_nlv_calculation.py
Due: pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
