Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

added audit logging
  .github/workflows/publish.yml
  src/logger/core.py
  src/trading_rl/data/preparation.py
  tests/test_worker_logging.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/h4_learning_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/manifest.json
  thesis/qmd/src/04-02-state-space.qmd
  thesis/qmd/src/99-audit-log.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
  thesis/qmd/src/thesis_asset_debug.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Normalize logging and thesis result artifacts
  src/logger/core.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/evaluation_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/h4_learning_report.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr_h4_n5/manifest.json
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix abstract margins: remove \quotation inset (WNE rule 5)
  thesis/qmd/src/pracamgrwne.cls
Due: none

Update chat log for 2026-08-29
  docs/chat/chat-2026-08-29.md
Due: none

Fix: decouple periodic in-training eval budget from eval_fraction
  src/trading_rl/config.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/recurrent_ppo.py
  tests/test_trainer_evaluation_paths.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: bound the equity progression plot's point budget
  src/trading_rl/evaluation/plots.py
  tests/test_equity_progression_plot.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: make eval-symbol rotation deterministic instead of a shared counter
  src/trading_rl/data/preparation.py
  src/trading_rl/pipeline/evaluation.py
  tests/test_resolve_symbol_index.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: cap --parallel concurrency and report which scenarios failed
  src/masters_thesis/experiments.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: stop retaining val/test splits and progression history for whole run
  src/trading_rl/data_loading.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/runtime_hooks.py
  tests/test_lazy_dataframe_metadata.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: refuse to export train/val metrics as the out-of-sample thesis snapshot
  scripts/export_eval_to_thesis.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix: H1-H4 evaluate reported the train split as out-of-sample results
  src/cli/commands/evaluate_command.py
  src/masters_thesis/experiments.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: H1 report labelled the buy-and-hold benchmark "Short & Hold"
  src/configs/h1_performance.yaml
Due: none

Fix: max_drawdown win/loss verdict was inverted in the H1 and H2 reports
  scripts/h1_performance_report.py
  scripts/h2_feature_sensitivity_report.py
  tests/test_report_metric_direction.py
Due: pytest

Add regression test for the H1 buy-and-hold benchmark label
  tests/test_report_metric_direction.py
Due: pytest

Fix: label VWAP as an ex-post reference, not an implementable strategy
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/evaluation/benchmarks.py
  src/trading_rl/evaluation/statistical_benchmarks.py
  src/trading_rl/evaluation/statistical_tests.py
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/99-glossary.qmd
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add fastmcp to the dev group so `mlflow mcp run` works in the project env
  pyproject.toml
  uv.lock
Due: none

Fix: yaml data-consistency check covered 1 of 110 scenario configs
  scripts/check_yaml_data_consistency.py
Due: none

Fix: US session window was an hour off during daylight saving
  scripts/filter_us_hours.py
Due: none

Fix: H4 "vs Dummy" invented 0.0/0.5 instead of the measured random baseline
  scripts/h4_learning_progression_report.py
Due: none

Fix: results.json fallback blended pooled with per-symbol and swapped splits
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Fix: 1s bars hid 98% of trades from every action=='T' feature
  scripts/downsample_to_1s.py
Due: none

Add a daily thesis build to catch breakage from non-thesis changes
  .github/workflows/daily-build.yml
Due: none

Update README: SAC/recurrent PPO, thesis-experiments, missing commands and docs
  README.md
Due: none

Add thesis-condenser skill: length-reduction audit toward an 80-page target
  .claude/skills/thesis-condenser/SKILL.md
  .dsh/skills/thesis-condenser/SKILL.md
Due: none

Add configurable thesis experiment sets
  scripts/h1_performance_report.py
  scripts/h2_feature_sensitivity_report.py
  scripts/h3_sensitivity_report.py
  scripts/h4_learning_progression_report.py
  src/cli/services/config_validation_service.py
  src/configs/experiment_sets/debug.yaml
  src/configs/experiment_sets/full.yaml
  src/masters_thesis/experiments.py
  src/trading_rl/config.py
  src/trading_rl/data/cache.py
  src/trading_rl/data/preparation.py
  tests/cli/test_config_validation_service.py
  tests/test_h4_experiment_runner.py
  tests/test_prepare_data_splits.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix missing chapter-7 includes; condense conclusions/limitations duplication
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/07-00-conclusions.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-03-implications-for-trading-systems.qmd
  thesis/qmd/src/07-04-recommendations-for-practitioners.qmd
  thesis/qmd/src/masters-thesis.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Condense chapter-5 data-preparation tables and normalization derivation
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Cut two over-derived equations found by a whole-thesis sweep
  docs/masters_thesis/length_reduction_plan.md
  thesis/qmd/src/02-02-market-microstructure-mechanisms.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/masters_thesis.pdf
Due: none

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
