Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

Feat: add AUDIT_PLOTS metadata coverage to H1 and appendix spec tables
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix: restore LOG_LEVEL env var in test fixtures to prevent pollution
  tests/test_algorithms_backends.py
  tests/test_manual_training_repro.py
Due: pytest

Config: remove test_size cap across all active experiment scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Config: reduce temp_eval_max_steps from 200k to 50k for TD3/DDPG/PPO
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Fix: update lob_feature_docs test and add mid_price_velocity docs
  docs/hft_features.md
  tests/test_lob_feature_docs.py
Due: pytest

Docs: update workflow diagram for test_size/eval/periodic-eval changes
  docs/workflow.d2
  docs/workflow.svg
Due: none

Docs: update stale config key references and add SAC implementation overview
  README.md
  docs/ppo_implementation_overview.md
  docs/sac_implementation_overview.md
  docs/td3_implementation_overview.md
  docs/training_pipeline.md
Due: none

Chore: update rendered thesis PDF (2026-05-28 16:34 UTC)
  thesis/qmd/src/masters_thesis.pdf
Due: none

Fix: reward label inside RL loop diagram (node[right] -> node[left])
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/diagrams/rl-loop.tex
Due: none

Fix: use full val data for final eval, slice for periodic eval
  src/configs/scenarios/aapl_minimal/train.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming/train.yaml
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_oracle_only/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_aapl_single_day_small_obs/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_high_tau/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/trading_rl/pipeline/experiment_runner.py
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Config: set eval_symbol_selection=rotated across all H1/H2/H3 scenarios
  src/configs/scenarios/pooled/ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/ppo_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/random_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_full/train.yaml
  src/configs/scenarios/pooled/td3_h3_features_minimal/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e4/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e5/train.yaml
  src/configs/scenarios/pooled/td3_h3_fees_1e6/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected/train.yaml
  src/configs/scenarios/pooled/td3_hft_lob_state_space_pooled_streaming_selected_dsr/train.yaml
Due: none

Fix: normalize log key from elapsed=%.2fs to elapsed_s=%.2f in mlflow upload message
  src/trading_rl/trainers/runtime_hooks.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_full/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Debug: add 10-step progress logging to rollout with ETA
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: rollout progress callback signature (*args) — TorchRL passes (env, td)
  src/trading_rl/evaluation/evaluator.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Chore: update rendered thesis PDF (2026-05-29 08:50 UTC)
  thesis/qmd/src/masters_thesis.pdf
Due: none

Refactor: demote high-frequency debug messages to trace level
  src/logger/utils.py
  src/trading_rl/evaluation/evaluator.py
  src/trading_rl/pipeline/training.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/sac.py
  src/trading_rl/trainers/td3.py
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ddpg_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_ppo_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_random_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_full/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_full/manifest.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/latest_finished/run.json
  thesis/qmd/results/pooled_td3_h3_features_minimal/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected/manifest.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/latest_finished/run.json
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/manifest.json
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: demote more high-frequency debug messages and add TRACE messages
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/envs/streaming_env.py
  src/trading_rl/envs/tradingenvxy_wrapper.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/episode_stats.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: demote additional high-frequency debug messages to trace level
  src/data_generator/_generator.py
  src/data_generator/_io.py
  src/data_generator/_sine.py
  src/trading_rl/data_fetchers/base.py
  src/trading_rl/evaluation/plots.py
  src/trading_rl/features/pipeline.py
  src/trading_rl/rewards/differential_sharpe.py
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/health_monitor.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Trace: add new logger.trace calls in checkpoint, pipeline, cache, and returns
  src/trading_rl/data/cache.py
  src/trading_rl/data/preparation.py
  src/trading_rl/evaluation/returns.py
  src/trading_rl/features/pipeline.py
  src/trading_rl/trainers/checkpointing.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Thesis: add feature–return correlation table to data preparation chapter
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/thesis_tables.py
Due: none

Evaluate: add --per-symbol flag for optional per-symbol evaluation
  src/cli.py
  src/cli/commands/evaluate_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Thesis: update H1 results in performance evaluation and summary of findings
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
Due: none

Skills: add h1-review, h2-review, h3-review, h4-review
  .claude/commands/h1-review.md
  .claude/commands/h2-review.md
  .claude/commands/h3-review.md
  .claude/commands/h4-review.md
Due: none

Feature: add dense eval tempo — shorten eval cadence on sustained improvement
  src/trading_rl/config.py
  src/trading_rl/trainers/runtime_hooks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: update test fixture to use nested temp_eval config structure
  tests/test_experiment_runner_branches.py
Due: pytest

Feat: add --all flag to validate guardrails to check every scenario at once
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add 16 new guardrails for SAC, TD3, and general config validation
  .claude/settings.json
  src/trading_rl/config_guardrails_checks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add GitHub issue creation and closing to thesis review skills
  .claude/commands/h1-review.md
  .claude/commands/h2-review.md
  .claude/commands/h3-review.md
  .claude/commands/h4-review.md
  .claude/skills/equation-verifier/SKILL.md
Due: none

Refactor: extract _derive_experiment_name and _apply_derived_defaults helpers
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: surface health-monitor early stop in training return value
  src/trading_rl/trainers/base.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: fix issues #220 #223 #228 #231 across four files
  src/trading_rl/data/preparation.py
  src/trading_rl/envs/streaming_env.py
  src/trading_rl/features/base.py
  src/trading_rl/features/pipeline.py
  src/trading_rl/trainers/td3.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: extract _validate_experiment_config from ExperimentConfig.__post_init__
  src/trading_rl/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Refactor: unify _record_skipped_batch, _log_batch_summary, _log_progress, save_checkpoint, and load_checkpoint into BaseTrainer
  src/trading_rl/trainers/base.py
  src/trading_rl/trainers/ddpg.py
  src/trading_rl/trainers/ppo.py
  src/trading_rl/trainers/sac.py
  src/trading_rl/trainers/td3.py
  tests/test_base_trainer_episode_stats.py
  tests/test_base_trainer_training_loop.py
  tests/test_pooled_and_per_day_splits.py
  tests/test_trainer_action_logging.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add per-symbol post-training evaluation using pooled-fitted pipeline
  src/trading_rl/config.py
  src/trading_rl/pipeline/evaluation.py
  src/trading_rl/pipeline/experiment_runner.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add how() project helper CLI script
  scripts/how.py
Due: none

Add disabled_guardrails config field for per-check suppression
  src/trading_rl/config.py
  src/trading_rl/config_guardrails_checks.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Feat: add tqdm progress bar to policy rollout
  src/trading_rl/pipeline/evaluation.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: allow TRACE log level in CLI _configure_logging
  src/cli.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
