Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

timezone-check:
  name: Check for timezone-naive datetime usage in financial code
  entry: python
  language: system
  args:
  - -c
  ...

symbol-normalization-test:
  name: Test symbol normalization logic
  entry: python
  language: system
  args:
  - -c
  ...

env-secrets-check:
  name: Check for potential hardcoded secrets in environment usage
  entry: python
  language: system
  args:
  - -c
  ...

data-schema-validation:
  name: Validate data normalization schema consistency
  entry: python
  language: system
  args:
  - -c
  ...

remove-src-prefix-imports:
  name: Remove 'src' prefix from imports
  entry: python
  language: system
  args:
  - -c
  ...

cli-consistency-check:
  name: Check CLI commands follow timezone and error handling patterns
  entry: python
  language: system
  args:
  - -c
  ...

pytest:
  name: Run pytest tests
  entry: bash
  language: system
  args:
  - -c
  - PYTHONPATH=src poetry run pytest --cache-clear --tb=line tests/ || true
  pass_filenames: false

State in the abstract that the pipeline is publicly available
  thesis/qmd/src/masters-thesis.qmd
Due: none

State in the abstract that the pipeline is publicly available (#695)
  thesis/qmd/src/masters-thesis.qmd
Due: none

Revert "State in the abstract that the pipeline is publicly available (#695)"
  thesis/qmd/src/masters-thesis.qmd
Due: none

Revert "State in the abstract that the pipeline is publicly available (#695)" (#696)
  thesis/qmd/src/masters-thesis.qmd
Due: none

Keep the RL loop figure in Sutton & Barto's notation; state the mapping
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/diagrams/rl-loop.pdf
  thesis/qmd/src/diagrams/rl-loop.svg
  thesis/qmd/src/diagrams/rl-loop.tex
Due: none

Keep the RL loop figure in Sutton & Barto's notation; state the mapping (#697)
  thesis/qmd/src/02-06-trading-problem-formulation.qmd
  thesis/qmd/src/diagrams/rl-loop.pdf
  thesis/qmd/src/diagrams/rl-loop.svg
  thesis/qmd/src/diagrams/rl-loop.tex
Due: none

Chore: auto-render thesis PDF [skip ci]
  thesis/qmd/src/masters_thesis.pdf
Due: none

Add five load-bearing abbreviations to the glossary
  thesis/qmd/src/99-glossary.qmd
Due: none

Add five load-bearing abbreviations to the glossary (#700)
  thesis/qmd/src/99-glossary.qmd
Due: none

Fix: report scripts' shared helper was unimportable under pytest
  scripts/h1_performance_report.py
  scripts/h3_feature_sensitivity_report.py
  scripts/sensitivity_report.py
  src/trading_rl/evaluation/results_io.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: report scripts' shared helper was unimportable under pytest (#701)
  scripts/h1_performance_report.py
  scripts/h3_feature_sensitivity_report.py
  scripts/sensitivity_report.py
  src/trading_rl/evaluation/results_io.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: latency resolution ran searchsorted on a possibly non-monotonic index
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: latency resolution ran searchsorted on a possibly non-monotonic index (#702)
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add a whole-thesis defence critic that proposes remedies
  .claude/agents/thesis-defence-critic.md
  .dsh/skills/thesis-defence-critic/SKILL.md
Due: none

Add a whole-thesis defence critic that proposes remedies (#703)
  .claude/agents/thesis-defence-critic.md
  .dsh/skills/thesis-defence-critic/SKILL.md
Due: none

Build the rails for reporting statistical tests in the thesis
  scripts/export_eval_to_thesis.py
  src/trading_rl/evaluation/statistical_test_registry.py
  tests/test_export_eval_to_thesis.py
  tests/test_statistical_test_registry.py
  tests/test_thesis_statistical_formatter.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: two test fixtures went stale when action-rate throttling was added
  tests/test_env_builder.py
  tests/test_streaming_env.py
Due: pytest

Fix: two test fixtures went stale when action-rate throttling was added (#708)
  tests/test_env_builder.py
  tests/test_streaming_env.py
Due: pytest

Fix: latency tick resolution truncated a tied probe median instead of rounding
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix: latency tick resolution truncated a tied probe median instead of rounding (#709)
  src/trading_rl/envs/latency.py
  tests/test_latency.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

State that significance is assessed economically, not against a zero null
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Fix Ch1 conflation of the tick-scale fee with the bid-ask half-spread
  scripts/export_tick_breakeven_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/peek/tick_breakeven.json
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Fix Ch1 conflation of the tick-scale fee with the bid-ask half-spread (#714)
  scripts/export_tick_breakeven_to_thesis.py
  thesis/qmd/results/pooled_td3_hft_lob_state_space_pooled_streaming_selected_dsr/peek/tick_breakeven.json
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/99-appendix.qmd
Due: none

Write a trailing newline from every JSON exporter
  scripts/export_eval_to_thesis.py
  scripts/export_rollout_plots_to_thesis.py
  scripts/export_tick_breakeven_to_thesis.py
  src/cli/commands/collect_results_command.py
  src/cli/commands/peek_command.py
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/data_loading.py
  src/trading_rl/evaluation/asset_meta.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Write a trailing newline from every JSON exporter (#722)
  scripts/export_eval_to_thesis.py
  scripts/export_rollout_plots_to_thesis.py
  scripts/export_tick_breakeven_to_thesis.py
  src/cli/commands/collect_results_command.py
  src/cli/commands/peek_command.py
  src/trading_rl/callbacks/artifacts_evaluation.py
  src/trading_rl/data_loading.py
  src/trading_rl/evaluation/asset_meta.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add the trailing newline to two JSON writers missed by #713
  scripts/export_algo_comparison_plots.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Add the trailing newline to two JSON writers missed by #713 (#723)
  scripts/export_algo_comparison_plots.py
  thesis/qmd/src/thesis_mlflow_results.py
Due: none

Define "arm" in the glossary and disambiguate it from a bandit arm
  thesis/qmd/src/99-glossary.qmd
Due: none

Replace paired em-dash asides with parentheses, commas, or sentence breaks
  thesis/qmd/src/01-02-thesis-organization.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/99-glossary.qmd
Due: none

Replace paired em-dash asides with parentheses, commas, or sentence breaks (#725)
  thesis/qmd/src/01-02-thesis-organization.qmd
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/99-appendix.qmd
  thesis/qmd/src/99-glossary.qmd
Due: none

Replace "arm" with "scenario" or "run" throughout the thesis
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-03-implications-for-trading-systems.qmd
  thesis/qmd/src/07-05-conclusion.qmd
Due: none

Replace "arm" with "scenario" or "run" throughout the thesis (#726)
  thesis/qmd/src/01-01-scope-and-objectives.qmd
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
  thesis/qmd/src/06-03-performance-evaluation.qmd
  thesis/qmd/src/07-01-summary-of-findings.qmd
  thesis/qmd/src/07-02-limitations-and-future-research.qmd
  thesis/qmd/src/07-03-implications-for-trading-systems.qmd
  thesis/qmd/src/07-05-conclusion.qmd
Due: none

Remove measured magnitudes and a forward reference from the hypotheses
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Drop the measured edge-to-cost ratio from Hypothesis 1
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Drop the measured edge-to-cost ratio from Hypothesis 1 (#728)
  thesis/qmd/src/01-01-scope-and-objectives.qmd
Due: none

Render the two stray table legends at footnote size like every other one
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-00-results.qmd
Due: none

Render the two stray table legends at footnote size like every other one (#729)
  thesis/qmd/src/05-01-data-preparation.qmd
  thesis/qmd/src/06-00-results.qmd
Due: none

Name Section 6.1 after Hypothesis 1, like the other three
  thesis/qmd/src/06-00-results.qmd
  thesis/qmd/src/06-02-robustness-assessment.qmd
Due: none

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$
