Repository kwojdalski/masters_thesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: timezone-check, symbol-normalization-test, env-secrets-check, data-schema-validation, remove-src-prefix-imports, cli-consistency-check, pytest

Path conditions:
  timezone-check: any of: ^src/.*\.py$
  symbol-normalization-test: any of: ^src/common/data_normalization\.py$
  env-secrets-check: any of: ^src/.*\.py$
  data-schema-validation: any of: ^src/common/config/defaults\.yaml$
  remove-src-prefix-imports: any of: ^src/.*\.py$
  cli-consistency-check: any of: ^src/cli/main\.py$
  pytest: any of: ^(src/.*\.py|tests/.*\.py)$

deploy: a4179e98a573ed559ba77189062bee544fe527de
  index.html
  masters-thesis_files/libs/bootstrap/bootstrap-71db1584b3c9bb823602d399ce5b7aa0.min.css
  masters-thesis_files/libs/bootstrap/bootstrap-7f8d28353e1b7aed8a50cdb71f958a5d.min.css
  masters-thesis_files/libs/quarto-html/quarto-syntax-highlighting-7f8f88aac4f3542376d5c11b86a4c14d.css
Due: none

Simplify discrete action space description to two formulations only
  thesis/qmd/src/05-01-action-space.qmd
Due: none

Render RL loop TikZ diagram as SVG for HTML output
  thesis/qmd/src/02-03-03-01-key-concepts.qmd
  thesis/qmd/src/diagrams/rl-loop.svg
  thesis/qmd/src/diagrams/rl-loop.tex
Due: none

deploy: b0541c4d1609b12c4c02b61ef6a52e74ea546667
  index.html
Due: none

Rename "Empirical Evaluation and Performance Analysis" chapter to "Results"
  thesis/qmd/src/07-00-empirical-evaluation-and-performance-analysis.qmd
  thesis/qmd/src/masters-thesis-proposal.qmd
Due: none

Copy diagrams directory to _site in GitHub Pages workflow
  .github/workflows/publish.yml
Due: none

deploy: a63acc746cdbce2df3b06008d947e8d7a82c0c12
  index.html
  masters-thesis_files/libs/bootstrap/bootstrap-7f8d28353e1b7aed8a50cdb71f958a5d.min.css
  masters-thesis_files/libs/bootstrap/bootstrap-icons.css
  masters-thesis_files/libs/bootstrap/bootstrap-icons.woff
  masters-thesis_files/libs/bootstrap/bootstrap.min.js
  masters-thesis_files/libs/clipboard/clipboard.min.js
  masters-thesis_files/libs/quarto-diagram/mermaid-init.js
  masters-thesis_files/libs/quarto-diagram/mermaid.css
  masters-thesis_files/libs/quarto-diagram/mermaid.min.js
  masters-thesis_files/libs/quarto-html/anchor.min.js
  masters-thesis_files/libs/quarto-html/popper.min.js
  masters-thesis_files/libs/quarto-html/quarto-syntax-highlighting-7f8f88aac4f3542376d5c11b86a4c14d.css
  masters-thesis_files/libs/quarto-html/quarto.js
  masters-thesis_files/libs/quarto-html/tabsets/tabsets.js
  masters-thesis_files/libs/quarto-html/tippy.css
  masters-thesis_files/libs/quarto-html/tippy.umd.min.js
Due: none

Switch GitHub Pages deployment to official actions/deploy-pages
  .github/workflows/publish.yml
Due: none

Copy only SVGs to _site/diagrams, not entire diagrams directory
  .github/workflows/publish.yml
Due: none

Fix GitHub Pages deployment: enable Python code execution
  .github/workflows/publish.yml
Due: none

Remove unused test_lob_features.py
  test_lob_features.py
Due: none

Add offline feature research command
  src/cli.py
  src/cli/commands/__init__.py
  src/cli/commands/feature_research_command.py
  src/trading_rl/feature_research/__init__.py
  src/trading_rl/feature_research/service.py
  tests/cli/test_feature_research_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix feature research test fixture
  tests/cli/test_feature_research_command.py
Due: pytest

Use OmegaConf for feature research config
  pyproject.toml
  src/cli.py
  src/cli/commands/feature_research_command.py
  src/configs/feature_research/aapl_hft_lob_state_space.yaml
  src/trading_rl/feature_research/__init__.py
  src/trading_rl/feature_research/config.py
  src/trading_rl/feature_research/service.py
  tests/cli/test_feature_research_command.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Fix feature research config construction
  src/trading_rl/feature_research/config.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Update lockfile for OmegaConf
  uv.lock
Due: none

Add RL pipeline smoke tests
  tests/test_pipeline_smoke.py
Due: pytest

Harden RL pipeline smoke tests
  pytest.ini
  tests/test_pipeline_smoke.py
Due: pytest

Fix pytest smoke marker registration
  pytest.ini
Due: none

Remove stale pytest path option
  pytest.ini
Due: none

Extract prepared dataset builder
  src/trading_rl/data_utils.py
  src/trading_rl/train_trading_agent.py
  tests/test_pipeline_smoke.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest

Add price_vamp (Volume Adjusted Mid Price) LOB feature
  docs/hft_features.md
  src/configs/features/hft_lob_features.yaml
  src/configs/features/hft_lob_features_extended.yaml
  src/trading_rl/features/__init__.py
  src/trading_rl/features/lob_features.py
Due: timezone-check, env-secrets-check, remove-src-prefix-imports, pytest
